@import 'utils/reset';
@import 'utils/libs';
@import 'utils/fonts';
*{
  font-size: 10px;
  color:#000;
}
:root {
  font-size: 10px;
}
.categoryWay{
  margin:40px 0 25px 0;
  h1{
    a{
      font-size: 3.6rem;
      font-weight: 400;
      text-decoration: none;
      color:#000;
    }
    a:hover{
      color:#000;
    }
    span{
      font-weight:700;
    }
  }
}
.categoryInfo{
  margin:0 0 40px 0 !important;
}
.errorMessage{
  margin: 100px 0 0 0;
  text-align: center;
  h1{
    font-size: 3.6rem;
    font-weight: 600;
  }
  p{
    margin:25px 0 0 0;
    font-size: 1.8rem;
    font-weight: 400;
  }
  a{
    text-decoration: none;
    color:#000;
    margin:0 0 0 5px;
    display: inline-block;
    position: relative;
  }
  a:hover{
    color:#000;
  }
  a:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    transition: all 1s;
  }
  a:hover:after {
    width: 0;
  }
}
.articleMainInf{
  display: flex;
  flex-direction: column;
  h2 {
    font-size: 3.6rem;
    font-weight: 700;
    margin:0 0 25px 0;
  }
  .mainInfArticle{
    display:flex;
    justify-content: space-between;
  }
}
.articleBodySecondaryContentUnitImg{
  a{
    display: block;
  }
  height: 215px;
  overflow: hidden;
  img{
    object-fit: cover ;
    width: auto;
    height: 100%;
    transition: all 0.2s linear;
  }
}
.mainInfoMainNewsImage{
  overflow: hidden;
  a{
    display: block;
  }
  width: 440px;
  height: 240px;
  img{
    margin:0 0 20px 0;
    object-fit: contain ;
    width: 100%;
    height: 100%;
    transition: all 0.2s linear;
  }
}
.articleBodyMainContentImage{
  width: 100%;
  img {
    object-fit: contain ;
    width: 100%;
    height: 100%;
  }
}
.articleBodyMainContentBlockImg{
  width: 100px;
  height: 100px;
  .articleBodyMainContentBlockImgBlock{
    a{
      display: block;
      height: 100%;
      width: auto;
    }
    width: 100px;
    height: 100px;
    overflow: hidden;
    img{
      height: 100%;
      width: auto;
      object-fit: cover;
      transition: all 0.2s linear;
    }
  }
}
.newsPageLineSlimCardWithImageArticleImg{
  overflow: hidden;
  a{
    display: block;
  }
}
.newsPageLineWideCardWithImageImg{
  overflow: hidden;
  a{
    display: block;
  }
  width: 280px;
  margin:15px 0;
  img{
    object-fit: contain ;
    width: 100%;
    height: 100%;
  }
}
.newsPageLineSlimCardWithImageImg{
  overflow: hidden;
  a{
    display: block;
  }
  width: 210px;
  margin:15px 0;
  img{
    object-fit: cover ;
    width: auto;
    height: 100%;
  }
}

.mainInfo{
  display:flex;
  justify-content: space-between;
  margin:40px 0 40px 0;
  padding:0 0 40px 0;
  border-bottom: 1px solid #D2D2D2;
  .mainInfArticle{
    .mainInfoMainNews{
      .mainInfoMainNewsNavigation{
        bottom: unset;
      }
    }
    .mainInfoLatestNews{
      .newsHeading{
        display: none;
      }
    }
  }
  .mainInfoMainNews{
    max-width: 480px;
    display: inline-block;
    position: relative;
    .mainInfoMainNewsInformation{
      margin:30px 0 0 0;
      display: flex;
      justify-content:flex-start;
      .categoryButton{
        margin:0 31px 0 0;
      }
    }
    .mainInfoMainNewsDescription{
      margin:21px 0 40px 0;
      .plainText{
        margin:15px 0 0 0;
      }
    }
    .mainInfoMainNewsNavigation{
      display: flex;
      justify-content: space-between;
      position: absolute;
      width: 100%;
      bottom:0;
    }
  }
  .mainInfoMainNews:hover{
    img{
      transform: scale(1.1);
    }
  }
  .mainInfoLatestNews{
    border-left: 1px solid #D2D2D2;
    padding:0 0 0 20px;
    width: 52.5%;
    .mainInfoLatestNewsUnit{
      max-width: 580px;
      padding:0 0 27px 0;
      margin:27px 0 0 0;
      border-bottom: 1px solid #D2D2D2;
      .mainInfoMainNewsInformation{
        display: flex;
        justify-content: flex-start;
        margin:0 0 5px 0;
        .categoryButton{
          margin:0 32px 0 0;
        }
      }
      .mainInfoMainNewsNavigation{
        margin:10px 0 0 0;
        display: flex;
        justify-content: space-between;
      }
    }
    .mainInfoLatestNewsUnit:last-child{
      padding:0;
      border-bottom:none;
    }
  }
}
.newsPage:not(:first-child){
  .newsPageLine{
    .newsPageLineCard:first-child{
      padding: 40px 20px 0 0;
    }
    .newsPageLineCard:not(:first-child){
      padding:40px 20px 0 20px;
    }
  }
}
.newsPageLine{
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #D2D2D2;
  .newsPageLineCard{
    border-right: 1px solid #D2D2D2;
  }
  .newsPageLineCard:first-child{
    padding: 0 20px 0 0;
  }
  .newsPageLineCard:not(:first-child){
    padding:0 20px 0 20px;
  }
  .newsPageLineCard:last-child{
    border-right: none;
  }
  .newsCard{
    display: flex;
    flex-direction: column;
    margin: 0 0 40px 0;
    height: 490px;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    .writeMoreButton{
      position: absolute;
      bottom: 30px;
    }
    .coverageInformation{
      position: absolute;
      bottom: 0;
      .appraisals{
        margin:0 0 0 25px;
      }
    }
    .newsCardInfo{
      max-height: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;
    }
    .newsCardInfo:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 20px;
      background: linear-gradient(180deg, transparent, #fff 90%);
    }
    img{
      transition: all 0.2s linear;
    }
  }
  .newsCard:hover{
    img{
      transform: scale(1.1);
    }
  }
  .articleNewsCard{
    height: 400px;
    .newsCardInfo{
      .latestNewsHeading{
        text-overflow: ellipsis;
        overflow: hidden;
        height: 185px;
        margin:5px 0;
      }
    }
  }
  .newsPageLineSlimCardWithImage{
    max-width:210px;
  }
  .newsPageLineWideCard{
    max-width:310px;
    min-width: 180px;
    .latestNewsHeading{
      margin:15px 0 39px 0;
    }
  }
  .newsPageLineSlimeCard{
    max-width:210px;
    min-width: 180px;
    .latestNewsHeading{
      margin:15px 0 15px 0;
    }
  }
  .newsPageLineWideCardWithImage{
    max-width:310px;
  }
}
.newsPageLine:not(:first-child){
  .newsCard{
    margin: 40px 40px 40px 0;
  }
}
.articleNewsCard{
  .newsCardInfo{
    .latestNewsHeading{
      padding:5px 0;
    }
  }
}
.articleMetrics{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #D2D2D2;
  padding: 11px 0 11px 0;
  .timeToReading{
    display: flex;
    p{
      font-weight: 700;
      font-size: 1.4rem;
      margin:auto 0;
    }
  }
}
.articleBody{
  display: flex;
  justify-content: space-between;
  margin: 40px 0 0 0;
  width: 100%;
  .articleBodyMain{
    display: flex;
    flex-direction: column;
    width:70%;
    .articleBodyMainContent{
      width: 80%;
      .articleBodyMainContentBlock{
        margin:0 0 20px 0;
      }
      .articleBodyMainContentBlock:last-child{
        margin:0 0 40px 0;
      }
      .articleBodyMiniNews{
        display: flex;
        padding: 20px 0;
        border-bottom: 1px solid #D2D2D2;
        border-top: 1px solid #D2D2D2;

        .articleBodyMiniNewsDescription{
          display: flex;
          flex-direction: column;
          margin:0 0 0 25px;
          position: relative;
          justify-content: space-between;
          .latestNewsHeading{
            text-overflow: ellipsis;
            overflow: hidden;
            height: 80px;
            a{
              text-overflow: ellipsis;
              line-height: 3.0rem;
            }
          }
          .latestNewsHeading:after{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 40px;
            background: linear-gradient(180deg, transparent, #fff 50%);
          }
        }
      }
      .articleBodyMiniNews:hover{
        img{
          transform: scale(1.1);
        }
      }
    }
  }
  .articleBodySecondary{
    width: 30%;
    .articleBodySecondaryContent{
      .articleBodySecondaryContentUnit{
        border-bottom: 1px solid #D2D2D2;
        border-left:1px solid #D2D2D2;
        padding: 0 0 0 20px;
        width: 100%;
        .dateBlock{
          p{
            margin:0 0 10px 0;
          }
        }
        .writeMoreButton{
          margin:20px 0 30px;
        }
      }
      .articleBodySecondaryContentUnit:last-child{
        border-bottom:none;
      }
      .articleBodySecondaryContentUnit:not(:first-child){
        padding:30px 0 0 20px;
      }
      .articleBodySecondaryContentUnit:hover{
        img{
          transform: scale(1.1);
        }
      }
    }
  }
}
.articleInf{
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #D2D2D2;
  border-top: 1px solid #D2D2D2;
  .articleInfRating{
    display: flex;
    span{
      font-size: 1.4rem;
      font-weight: 700;
      margin:auto 30px auto 0;
    }
    .articleInfRatingLike{
      a{
        color:#000;
        text-decoration: none;
        margin:auto 0;
        display: flex;
        svg{
          margin: auto 0;
        }
        p{
          font-weight: 400;
          font-size: 1.2rem;
          margin:2px 0 0 10px;
        }
      }
      a:hover{
        color:#000;
      }
    }
  }
  .articleInfLinks{
    display: flex;
    span{
      font-size: 1.4rem;
      font-weight: 700;
    }
    .articleInfLinksSN{
      a:first-child{
        margin:0 0 0 30px;
      }
      a{
        margin:0 0 0 20px;
        svg{
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
.popUp{
  max-width: 1200px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  .popUpArticle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #E2E2E2;
    .popUpArticleImage{
      width:98%;
      img{
        width: 98%;
        height: auto;
        object-fit: cover;
      }
    }
    .dateBlock{
      margin: 30px 0 0 0;
    }
    .mainNewsHeading{
      margin: 25px 0 auto 0;
    }
    .writeMoreButton{
      margin: 25px 0 0 0;
    }
  }
  .popUpList{
    .popUpListArticle{
      display: flex;
      margin: 0 0 0 20px;
      .popUpListArticleImage{
        width: 140px;
        height: 140px;
        .popUpListArticleImageImg{
          width: 140px;
          height: 140px;
          img{
            height: 100%;
            width: auto;
            object-fit: cover;
          }
        }
      }
      .popUpListArticleDescription{
        margin:0 0 0 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .dateBlock{
          p{
            margin:0;
          }
        }
      }
    }
    .popUpListArticle:nth-child(1){
      border-bottom: 1px solid #E2E2E2;
      padding: 0 0 25px 0;
    }
    .popUpListArticle:nth-child(2){
      padding:25px 0 25px 0;
      border-bottom: 1px solid #E2E2E2;
    }
    .popUpListArticle:nth-child(3){
      padding:25px 0 0 0;
    }
  }
  .popUpIcon{
    cursor: pointer;
    path{
      width: 20px;
      height: 20px;
    }
  }
}
.articleMetricsMobile{
  display: none;
}
.mainPageLine{
  .newsPageLineCard{
    .newsCard{
      .newsCardInfo{
        .descriptionArea{
          height: 350px;
          overflow:hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
.container {
  max-width: 1440px;
  padding: 0 15px;
  margin:0 auto;
}

%notebook{
  .container {
    max-width: 1140px !important;
  }
  .errorMessage{
    h1{
      font-size: 2.4rem;
    }
    p{
      font-size: 1.8rem;
    }
  }
  .newsPageLineCard:nth-child(n+4){
    display: none;
  }
  .newsPageLineCard:nth-child(n+3){
    border-right: none;
  }
}
%tablet{
  .container {
    max-width: 960px !important;
  }
  .articleBodyMainContentImage {
    width: 80%;
    img {
      object-fit: contain ;
      width: 100%;
      height: 100%;
    }
  }
  .mainInfoMainNewsImage {
    width: 100%;
    a{
      display: block;
      height: 100%;
      width: auto;
    }
    img {
      object-fit: contain ;
      width: 100%;
      height: 100%;
    }
  }
  .articleBodySecondaryContentUnitImg{
    position: relative;
    width: 100px;
    overflow: hidden;
    .articleBodySecondaryContentUnitImgBlock{

      width: 100px;
      height: 100%;
      a{
        display: block;
        height: 100%;
        width: auto;
      }
      img{
        object-fit: cover;
        width: auto;
        height: 100%;
      }
    }
  }
  .newsPageLineWideCardWithImageImg{
    width: 280px;
    margin:15px 0;
    img{
      object-fit: contain ;
      width: 100%;
      height: 100%;
    }
  }
  .newsPageLineSlimCardWithImageImg{
    width: 280px;
    margin:15px 0;
    img{
      object-fit: contain ;
      width: 100%;
      height: 100%;
    }
  }
  .newsCardInfo{
    .newsPageLineSlimCardWithImageArticleImg{
      width: 280px;
      img{
        height: 100%;
        width: auto;
        object-fit: cover;
      }
    }
  }
  .categoryWay{
    h1{
      a{
        font-size: 3rem;
      }
    }
  }
  .articleMainInf{
    .mainInfArticle{
      display: flex;
      flex-direction: column;
    }
  }
  .mainInfo{
    flex-direction: column;
    border: none;
    .mainInfArticle {
      .mainInfoMainNews {
        border-bottom: 1px solid #D2D2D2;
        padding: 0 0 50px 0;
      }
    }
    .mainInfoMainNews{
      max-width: 100%;
      margin: 0 auto;
      border-bottom: 1px solid #D2D2D2;
      padding: 0 0 20px 0;
      .mainInfoMainNewsNavigation{
        margin: 0 0 20px 0;
      }
    }
    .mainInfoLatestNews{
      padding: 0;
      border:none;
      width: 100%;
      .newsHeading{
        margin:40px 0 0 0;
      }
      .mainInfoLatestNewsUnit {
        max-width: 100%;
        padding: 0 0 20px 0;
        margin: 30px 0 0 0;
        border-bottom: 1px solid #d2d2d2;
      }
    }
  }

  .newsPageLine {
    .newsPageLineCard{
      max-width: 50%;
      .newsCard{
        .newsCardInfo{
          .plainText{
            height: 260px;
            overflow:hidden;
            text-overflow: ellipsis;
          }
        }
      }
      .newsPageLineSlimCardWithImage,.newsPageLineWideCard,.newsPageLineSlimeCard,.newsPageLineWideCardWithImage{
        max-width:100%;
      }
    }
    .newsPageLineCard:nth-child(n+3){
      display: none;
    }
    .newsPageLineCard:nth-child(n+2) {
      border-right: none;
    }
  }
  .articleMetrics{
    display: none;
  }
  .articleBody{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    .articleBodyMain {
      width: 100%;
      .articleMetricsMobile{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin:0 0 15px 0;
        .timeToReading{
          margin:0 0 10px 0;
        }
        padding:0 0 15px 0;
      }
      .articleBodyMainContent{
        width: 100%;
      }
    }
    .articleBodySecondary{
      width: 100%;
      .articleBodySecondaryContent{
        .articleBodySecondaryContentUnit{
          border-left:none;
          padding:20px 0 0 0 !important;
          display: flex;
          .articleBodySecondaryContentUnitDescription{
            margin:0 0 0 20px;
            .latestNewsHeading{
              height: 60px;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }
          .dateBlock{
            display: none;
          }
          .writeMoreButton{
            margin:20px 0 20px;
          }
        }
        .articleBodySecondaryContentUnit:first-child{
          border-top:1px solid #d2d2d2;
        }
        .articleBodySecondaryContentUnit:last-child{
          border-bottom:1px solid #d2d2d2;
        }
        .articleBodySecondaryContentUnit:nth-child(n+3){
          display: none;
        }
      }
    }
  }
  .articleInf{
    .articleInfRating,.articleInfLinks{
      span{
        display: none;
      }
    }
  }
  .articleNewsCard{
    .newsCardInfo{
      .latestNewsHeading{
        text-overflow: ellipsis;
        overflow: hidden;
        height: 150px;
        margin:5px 0;
      }
    }
  }
  .popUp{
    .popUpArticle{
      .mainNewsHeading{
        a{
          font-size: 3.0rem;
          font-weight: 700;
          line-height: 3.0rem;
        }
      }
    }
    .popUpList{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .popUpListArticle{
        .popUpListArticleDescription{
          .latestNewsHeading{
            p{
              font-size: 2.0rem;
              line-height: 2.0rem;
            }
          }
          .dateBlock{
            p{
              font-size: 1.2rem;
            }
          }
        }
      }
      .popUpListArticle:nth-child(1){
        padding: 0 0 25px 0;
      }
      .popUpListArticle:nth-child(2){
        padding: 25px 0 25px 0;
      }
      .popUpListArticle:nth-child(n+3){
        display: none;
      }
    }
  }
}
%mediumPhone{
  .container {
    max-width: 430px !important;
  }
  .newsPageLine .newsPageLineCard:first-child {
    padding: 0;
  }
  .newsPage:not(:first-child){
    .newsPageLine{
      .newsPageLineCard:first-child{
        padding: 0;
      }
      .newsPageLineCard:not(:first-child){
        padding:0 0 0 20px;
      }
    }
  }
  .article{
    .articleBody{
      .articleBodySecondary{
        .articleBodySecondaryContentUnit{
          padding:20px 0 20px 0 !important;
          a{
            margin:auto 0;
          }
          .articleBodySecondaryContentUnitDescription{
            .latestNewsHeading{
              a{
                font-size: 1.6rem;
                line-height: 2.0rem;
              }
            }
            .writeMoreButton{
              margin:5px 0;
            }
          }
        }
      }
      .articleBodyMain{
        .articleMetricsMobile{
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          margin:0 0 15px 0;
          .timeToReading{
            margin:0 0 10px 0;
          }
          padding:0 0 15px 0;
        }
        .articleBodyMainContent{
          .articleBodyMiniNews{
            .articleBodyMiniNewsDescription{
              .latestNewsHeading{
                a{
                  font-size: 1.6rem;
                  line-height: 2.0rem;
                }
              }
            }
          }
        }
      }
    }


  }

  .categoryWay{
    h1{
      a{
        font-size: 2rem;
      }
    }
  }
  .newsPageLineCard:nth-child(n+4){
    display: block;
  }
  .newsPageLine {
    flex-direction: column;
    border-bottom: none;
    .newsPageLineCard{
      max-width: 100%;
      padding: 0 !important;
    }
    .newsPageLineCard:nth-child(n+1) {
      border-right: none;
    }
  }
  .newsPageLine {
    .newsPageLineCard{
      .newsCard{
        .newsCardInfo{
          .plainText{
            height: 100%;
          }
        }
      }
    }
  }
  .newsPageLineSlimCardWithImage{
    max-width:100% !important;
  }
  .newsPageLineWideCard{
    max-width:100% !important;;
    .latestNewsHeading{
      margin:15px 0 39px 0;
    }
  }
  .newsPageLineSlimeCard{
    max-width:100% !important;;
    .latestNewsHeading{
      margin:15px 0 15px 0;
    }
  }
  .newsPageLineWideCardWithImage{
    max-width:100% !important;;
  }
  .newsCard {
    display: flex;
    flex-direction: column;
    margin: 0 !important;
    height: 100% !important;
    padding: 30px 0 50px 0 !important;
    border-bottom: 1px solid #d2d2d2;
    .writeMoreButton{
      bottom: 30px !important;
    }
    .coverageInformation{
      bottom: 10px !important;
    }
  }
  .mainInfo {
    margin: 40px 0 0 0 !important;
    padding: 0 0 30px 0 !important;
  }
  .mainInfoMainNewsImage,.articleBodyMainContentImage {
    a{
      display: block;
    }
    width: 100%;
    img {
      object-fit: cover ;
      width: 100%;
      height: 100%;
    }
  }
  .articleBodySecondaryContentUnitImg{
    width: 80px;
    margin:auto 0;
    .articleBodySecondaryContentUnitImgBlock{
      a{
        display: block;
      }
      width: 80px;
      img{
        object-fit: cover;
        width: auto;
        height: 80px;
      }
    }
  }
  .articleBodyMainContentBlockImg{
    width: 80px;
    .articleBodyMainContentBlockImgBlock{
      a{
        display: block;
      }
      width: 80px;
      img{
        object-fit: cover ;
        width: 100%;
        height: 100%;
      }
    }
  }
  .newsPageLineWideCardWithImageImg{
    a{
      display: block;
    }
    width: 310px;
    margin:15px 0;
    img{
      object-fit: contain ;
      width: 100%;
      height: 100%;
    }
  }
  .newsPageLineSlimCardWithImageImg{
    width: 310px;
    margin:15px 0;
    img{
      object-fit: contain ;
      width: 100%;
      height: 100%;
    }
  }
  .mainInfoMainNewsInformation{
    flex-direction: column;
    .dateBlock{
      margin:0 !important;
    }
  }
  .mainPageLine{
    .newsPageLineCard{
      .newsCard{
        .newsCardInfo{
          .descriptionArea{
            height: 100%;
            overflow:hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
  .popUp{
    .popUpList{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .popUpListArticle{
        .popUpListArticleImage{
          display: none;
        }
        .popUpListArticleDescription {
          margin: 0;
        }

      }
      .popUpListArticle:nth-child(1){
        padding: 0 0 25px 0;
      }
      .popUpListArticle:nth-child(2){
        padding: 25px 0 25px 0;
      }
      .popUpListArticle:nth-child(n+3){
        display: none;
      }
    }
  }
}
%smallPhone{
  .container {
    max-width: 310px !important;
  }
  .errorMessage{
    h1{
      font-size: 2.4rem;
    }
    p{
      font-size: 1.8rem;
    }
  }
}

.notebook{
  @extend %notebook;
}
.tablet{
  @extend %notebook;
  @extend %tablet;
}
.mediumPhone{
  @extend %notebook;
  @extend %tablet;
  @extend %mediumPhone;
}
.smallPhone{
  @extend %notebook;
  @extend %tablet;
  @extend %mediumPhone;
  @extend %smallPhone;
}


