@import 'utils/reset';
@import 'utils/libs';
@import 'utils/fonts';
*{
  font-size: 10px;
  color:#000;
}
:root {
  font-size: 10px;
}
.errorMessage{
  margin: 100px 0 0 0;
  text-align: center;
  h1{
    font-size: 3.6rem;
    font-weight: 600;
  }
  p{
    margin:25px 0 0 0;
    font-size: 1.8rem;
    font-weight: 400;
  }
  a{
    text-decoration: none;
    color:#000;
    margin:0 0 0 5px;
    display: inline-block;
    position: relative;
  }
  a:hover{
    color:#000;
  }
  a:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    transition: all 1s;
  }
  a:hover:after {
    width: 0;
  }
}
.mainInfo{
  display:flex;
  justify-content: space-between;
  margin:40px 0 0 0;
  .mainInfoMainNews{
    max-width: 480px;
    display: inline-block;
    img{
      height:240px;
      width: 440px;
    }
    .mainInfoMainNewsInformation{
      margin:30px 0 0 0;
      display: flex;
      justify-content:flex-start;
      .dateBlock{
        margin:0 0 0 31px;
      }
    }
    .mainInfoMainNewsDescription{
      margin:21px 0 40px 0;
      .plainText{
        margin:15px 0 0 0;
      }
    }
    .mainInfoMainNewsNavigation{
      display: flex;
      justify-content: space-between;
    }
  }
  .mainInfoLatestNews{
    border-left: 1px solid #D2D2D2;
    padding:0 0 0 20px;
    .mainInfoLatestNewsUnit{
      max-width: 580px;
      border-bottom: 1px solid #D2D2D2;
      padding:0 0 27px 0;
      margin:27px 0 0 0;
      .mainInfoMainNewsInformation{
        display: flex;
        justify-content: flex-start;
        .dateBlock{
          margin:0 0 0 32px;
        }
      }
      .mainInfoMainNewsNavigation{
        margin:10px 0 0 0;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
@media (max-width:320px){
  .errorMessage{
    h1{
      font-size: 2.4rem;
    }
    p{
      font-size: 1.8rem;
    }
  }
}