@import 'utils/reset';
@import 'utils/libs';
@import 'utils/fonts';
*{
  font-size: 10px;
  color:#000;
}
:root {
  font-size: 10px;
}
.categoryWay{
  margin:40px 0 25px 0;
  h1{
    a{
      font-size: 3.6rem;
      font-weight: 400;
      text-decoration: none;
      color:#000;
    }
    a:hover{
      color:#000;
    }
    span{
      font-weight:700;
    }
  }
}
.categoryInfo{
  margin:0 0 40px 0 !important;
}
.errorMessage{
  margin: 100px 0 0 0;
  text-align: center;
  h1{
    font-size: 3.6rem;
    font-weight: 600;
  }
  p{
    margin:25px 0 0 0;
    font-size: 1.8rem;
    font-weight: 400;
  }
  a{
    text-decoration: none;
    color:#000;
    margin:0 0 0 5px;
    display: inline-block;
    position: relative;
  }
  a:hover{
    color:#000;
  }
  a:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    transition: all 1s;
  }
  a:hover:after {
    width: 0;
  }
}
.articleMainInf{
  display: flex;
  flex-direction: column;
  h2 {
    font-size: 3.6rem;
    font-weight: 700;
    margin:0 0 25px 0;
  }
  .mainInfArticle{
    display:flex;
    justify-content: space-between;
  }
}
.articleBodySecondaryContentUnitImg{
  width: 100%;
  height: 100%;
  overflow: hidden;
  .articleBodySecondaryContentUnitImgBlock{
    height: 100%;
    width: 100%;
    a{
      display: block;
      height: 100%;
      width: 100%;
      img{
        object-fit: cover ;
        width: 100%;
        height: 100%;
        transition: all 0.2s linear;
      }
    }
  }
}
.mainInfoMainNewsImage{
  overflow: hidden;
  height: 100%;
  a{
    display: inline-block;
    overflow: hidden;
    height: 100%;
    width: 100%;
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: all 0.2s linear;
    }
  }
}
.articleBodyMainContentImage{
  width: 100%;
  img {
    object-fit: contain ;
    width: 100%;
    height: 100%;
  }
}
.articleBodyMainContentBlockImg{
  width: 100px;
  height: 100px;
  border: none !important;
  box-shadow: none !important;
  .articleBodyMainContentBlockImgBlock{
    a{
      display: block;
      height: 100%;
      width: auto;
    }
    width: 100px;
    height: 100px;
    overflow: hidden;
    img{
      height: 100%;
      width: auto;
      object-fit: cover;
      transition: all 0.2s linear;
    }
  }
}
.newsPageLineSlimCardWithImageArticleImg{
  overflow: hidden;
  a{
    display: block;
  }
}
.newsPageLineWideCardWithImageImg{
  overflow: hidden;
  a{
    display: block;
  }
  width: 100%;
  margin:15px 0;
  img{
    object-fit: contain ;
    width: 100%;
    height: 100%;
  }
}
.newsPageLineSlimCardWithImageImg{
  overflow: hidden;
  a{
    display: block;
  }
  width: auto;
  margin:15px 0;
  img{
    object-fit: cover ;
    width: auto;
    height: 100%;
  }
}

.mainInfo{
  display: table;
  margin:40px 0 40px 0;
  padding:0 0 40px 0;
  border-bottom: 1px solid #D2D2D2;
  height: 100%;
  .mainInfArticle{
    .mainInfoMainNews{
      .mainInfoMainNewsNavigation{
        bottom: unset;
      }
    }
    .mainInfoLatestNews{
      .newsHeading{
        display: none;
      }
    }
  }
  .mainInfoMain{
    width: 50%;
    border-right: 1px solid #D2D2D2;
    display: table-cell;
    vertical-align: top;
    height: 100%;
    .mainInfoMainNews{
      display: table;
      position: relative;
      height: 100%;
      width: 100%;
      padding: 0 20px 0 0;
      .mainInfoMainNewsImage{
        display: table-row;
        height: 100%;
      }
      .mainInfoMainNewsInformation{
        display: flex;
        justify-content:flex-start;
        margin: 10px 0 0 0;
        .categoryButton{
          margin:0 31px 0 0;
        }
      }
      .mainInfoMainNewsDescription{
        margin:10px 0;
        .mainNewsHeading{
          a{
            transition: all 0.2s ease;
          }
        }
        .plainText{
          margin:15px 0 0 0;
        }
      }
      .mainInfoMainNewsNavigation{
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }
    .mainInfoMainNews:hover{
      .mainInfoMainNewsDescription{
        .mainNewsHeading{
          a{
            opacity: 0.6;
          }
        }
      }
      img{
        transform: scale(1.1);
      }
    }
  }
  .mainInfoLatestNews{
    width: 50%;
    display: table-cell;
    vertical-align: top;
    padding: 0 0 0 20px;
    .mainInfoLatestNewsWrapper{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
    .mainInfoLatestNewsUnit{
      max-width: 100%;
      padding:0 0 27px 0;
      margin:41px 0 0 0;
      border-bottom: 1px solid #D2D2D2;
      display: flex;
      justify-content: flex-start;
      .mainInfoLatestNewsUnitImg{
        height: 140px;
        width: 140px;
        margin:auto 10px auto 0;
        .mainInfoLatestNewsUnitImgBlock{
          height: 140px;
          width: 140px;
          overflow: hidden;
          a{
            display: block;
            height: 100%;
            width: auto;
            img{
              height: 100%;
              width: auto;
              object-fit: cover;
              transition: all 0.2s linear;
            }
          }
        }
      }
      .mainInfoLatestNewsUnitBlock{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        .mainInfoMainNewsInformation{
          display: flex;
          justify-content: flex-start;
          margin:0 0 5px 0;
          .categoryButton{
            margin:0 10px 0 0;
          }
        }
        .mainInfoLatestNewsDescription{
          height: 66px;
          overflow: hidden;
          .latestNewsHeading{
            a{
              transition: all 0.2s linear;
            }
          }
        }
      }
      .mainInfoMainNewsNavigation{
        margin:10px 0 0 0;
        display: flex;
        justify-content: space-between;
      }
    }
    .mainInfoLatestNewsUnit:hover{
      .mainInfoLatestNewsUnitBlock{
        .latestNewsHeading{
          a{
            opacity: 0.6;
          }
        }
      }
      img{
        transform:scale(1.1)
      }
    }
    .mainInfoLatestNewsUnit:last-child{
      padding:0;
      border-bottom:none;
    }
  }
  .articleMainInfoLatestNews{
    .mainInfoLatestNewsWrapper{
      .mainInfoLatestNewsUnit{
        margin:0;
        padding: 0 0 23px 0;
      }
      .mainInfoLatestNewsUnit:last-child{
        padding: 0;
      }
    }
  }
}

.newsPage:not(:first-child){
  .newsPageLine{
    .newsPageLineCard{
      margin: 40px 0 0 0;
    }
  }
}

.newsPageLine{
  display: flex;
  width: 100%;
  border-bottom: 1px solid #D2D2D2;
  position: relative;
  height: 100%;
  .newsPageLineCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    width: 23%;
    .newsCard{
      height: 100%;
      display: flex;
      justify-content: space-between;
      width: 100%;
      .newsCardNavigation{
        margin: 15px 0;
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .newsPageLineFence{
    display: table-cell;
    content: '';
    position: relative;
    margin:0 auto;
    height: auto;
    width: 1px;
    background: #D2D2D2;
  }
  .newsPageLineCard:last-child{
    border-right: none;
  }
  .newsCard{
    display: flex;
    flex-direction: column;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    .newsCardInfo {
      max-height: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;
      .latestNewsHeading {
        a {
          transition: all 0.2s linear;
        }
      }
      .dateBlock {
        margin: 10px 0 0 0;
      }
    }

    img{
      transition: all 0.2s linear;
    }
  }
  .newsCard:hover{
    .newsCardInfo {
      .latestNewsHeading {
        a {
          opacity: 0.6;
        }
      }
    }
    img{
      transform: scale(1.1);
    }
  }
  .articleNewsCard{
    .newsCardInfo{
      .latestNewsHeading{
        text-overflow: ellipsis;
        overflow: hidden;
        margin:5px 0;
      }
    }
  }
  .newsPageLineWideCard{
    .latestNewsHeading{
      margin:15px 0 39px 0;
    }
  }
  .newsPageLineSlimeCard{
    .latestNewsHeading{
      margin:15px 0 15px 0;
    }
  }
}

.newsPageLine:not(:first-child){
  .newsCard{
    margin: 40px 40px 40px 0;
  }
}
.articleNewsCard{
  .newsCardInfo{
    .latestNewsHeading{
      padding:5px 0;
    }
  }
}
.articleMetrics{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #D2D2D2;
  padding: 11px 0 11px 0;
  .timeToReading{
    display: flex;
    p{
      font-weight: 700;
      font-size: 1.4rem;
      margin:auto 0;
    }
  }
}
.articleBody{
  display: flex;
  justify-content: space-between;
  margin: 40px 0 0 0;
  width: 100%;
  .articleBodyMain{
    display: flex;
    flex-direction: column;
    width:100%;
    .articleBodyMainContent{
      padding: 0 15px 0 0;
      .articleBodyMiniNews{
        display: flex;
        padding: 10px 0;
        border-bottom: 1px solid #D2D2D2;
        border-top: 1px solid #D2D2D2;
        .articleBodyMiniNewsDescription{
          display: flex;
          flex-direction: column;
          margin:0 0 0 25px;
          position: relative;
          justify-content: space-between;
          .latestNewsHeading{
            text-overflow: ellipsis;
            overflow: hidden;
            height: auto;
            a{
              text-overflow: ellipsis;
              transition: all 0.2s linear;
            }
          }

        }
      }
      .articleBodyMiniNews:hover{
        .articleBodyMiniNewsDescription{
          .latestNewsHeading{
            a{
              opacity: 0.6;
            }
          }
        }
        img{
          transform: scale(1.1);
        }
      }
    }
  }
  .articleBodySecondary{
    width: 30%;
    .articleBodySecondaryContent{
      .articleBodySecondaryContentUnit{
        border-bottom: 1px solid #D2D2D2;
        border-left:1px solid #D2D2D2;
        padding: 0 15px 0 15px;
        width: 100%;
        height: 330px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .latestNewsHeading{
          height: 130px;
          overflow: hidden;
          a{
            transition: all 0.2s linear;
          }
        }
        .writeMoreButton{
          margin:10px 0;
        }
        .dateBlock{
          padding: 0 0 5px 0;
        }
      }
      .articleBodySecondaryContentUnit:last-child{
        border-bottom:none;
      }
      .articleBodySecondaryContentUnit:not(:first-child){
        padding:15px 15px 0 15px;
      }
      .articleBodySecondaryContentUnit:hover{
        .articleBodySecondaryContentUnitDescription{
          .latestNewsHeading{
            a{
              opacity: 0.6;
            }
          }
        }
        img{
          transform: scale(1.1);
        }
      }
    }
  }
}
.articleInf{
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #D2D2D2;
  border-top: 1px solid #D2D2D2;
  .articleInfRating{
    display: flex;
    span{
      font-size: 1.4rem;
      font-weight: 700;
      margin:auto 30px auto 0;
    }
    .articleInfRatingLike{
      a{
        color:#000;
        text-decoration: none;
        margin:auto 0;
        display: flex;
        svg{
          margin: auto 0;
        }
        p{
          font-weight: 400;
          font-size: 1.2rem;
          margin:2px 0 0 10px;
        }
      }
      a:hover{
        color:#000;
      }
    }
  }
  .articleInfLinks{
    display: flex;
    span{
      font-size: 1.4rem;
      font-weight: 700;
    }
    .articleInfLinksSN{
      a:first-child{
        margin:0 0 0 30px;
      }
      a{
        margin:0 0 0 20px;
        svg{
          width: 20px;
          height: 20px;
          transition: all 0.2s linear;
        }
      }
      a:hover{
        svg{
          transform: scale(1.3,1.3);
        }
      }
    }
  }
}
.modal{
  max-height: 100%;
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background-color: rgba(0,0,0,.5);
  z-index: 9;
  display: flex;
  justify-content: center;
  .popUp{
    max-width: 1200px;
    padding: 30px 20px 20px 20px;
    display: table;
    height: 522px;
    position: absolute;
    .popUpArticle{
      display: table-cell;
      vertical-align: top;
      border-right: 1px solid #E2E2E2;
      height: 100%;
      .popUpArticleWrapper{
        display: table;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        padding: 0 20px 0 0;
        .popUpArticleImage{
          display: table-row;
          height: 100%;
          a{
            overflow: hidden;
            height: 100%;
            width: 100%;
            display: inline-block;
            img{
              height: 100%;
              width: 100%;
              object-fit: cover;
              transition: all 0.2s linear;
            }
          }
        }
        .dateBlock{
          margin: 30px 0 0 0;
        }
        .mainNewsHeading{
          margin: 25px 0 auto 0;
        }
        .writeMoreButton{
          margin: 25px 0 0 0;
        }
      }
      .popUpArticleWrapper:hover{
        img{
          transform: scale(1.1,1.1);
        }
      }
    }
    .popUpList{
      display: table-cell;
      vertical-align: top;
      .popUpListArticle{
        display: flex;
        margin: 0 0 0 20px;
        .popUpListArticleImage{
          width: 140px;
          height: 140px;
          .popUpListArticleImageImg{
            width: 140px;
            height: 140px;
            a{
              height: 100%;
              width: 100%;
              display: inline-block;
              overflow: hidden;
              img{
                transition:all 0.2s linear;
                height: 100%;
                width: 100%;
                object-fit: cover;
              }
            }
          }
        }
        .popUpListArticleDescription{
          margin:0 0 0 20px;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          .dateBlock{
            p{
              margin:0;
            }
          }
        }
      }
      .popUpListArticle:hover{
        img{
          transform: scale(1.1,1.1);
        }
      }
      .popUpListArticle:nth-child(1){
        border-bottom: 1px solid #E2E2E2;
        padding: 0 0 25px 0;
      }
      .popUpListArticle:nth-child(2){
        padding:25px 0 25px 0;
        border-bottom: 1px solid #E2E2E2;
      }
      .popUpListArticle:nth-child(3){
        padding:25px 0 0 0;
      }
    }
    .popUpIcon{
      cursor: pointer;
      position: absolute;
      top:5px;
      right: 5px;
      path{
        width: 20px;
        height: 20px;
      }
    }
  }
}
.modalMini{
  max-height: none;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease;
  .popUpMini{
    height: auto;
    display: table-row;
    position: absolute;
    top:59px;
    transform: translateY(-50%);
    width: 100%;
    .articleBodySecondaryContentUnit{
      height: auto;
      display: flex;
      padding: 15px 5px;
      position: relative;
      .articleBodySecondaryContentUnitImg{
        height: 80px;
        width: auto;
        margin:auto 5px;
        .articleBodySecondaryContentUnitImgBlock{
          height: 80px;
          width: auto;
          a{
            height: 80px;
            width: auto;
            img{
              height: 80px;
              width: 100%;
            }
          }
        }
      }
      .articleBodySecondaryContentUnitDescription{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        .latestNewsHeading{
          overflow: hidden;
          width: 100%;
          height: 70px;
          a{
            width: 100%;
          }
        }
      }
      .articleBodySecondaryContentUnitButton{
        position: absolute;
        top:2px;
        right: 2px;
        cursor: pointer;
        svg{
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
.modalMini-active{
  visibility: visible;
  opacity: 1;
}
.articleMetricsMobile{
  display: none;
}

.container {
  max-width: 1440px;
  padding: 0 15px;
  margin:0 auto;
}

%notebook{
  .container {
    max-width: 1140px !important;
  }

  .errorMessage{
    h1{
      font-size: 2.4rem;
    }
    p{
      font-size: 1.8rem;
    }
  }
  .newsPage,.articleNewsPage{
    .newsPageLine{
      height: 300px;
      .newsPageLineCard{
        padding: 0 10px 10px 10px;
        width: 25%;
        height: 100%;
        .newsCard{
          width: 100%;
          display: flex;
          justify-content: space-between;
          height: inherit;
          max-width: 100%;
          max-height: 100%;
          .newsCardInfo{
            .descriptionArea{
              height: 100%;
            }
            .newsPageLineSlimCardWithImageImg{
              width: 100%;
              margin:15px 0;
            }
            .latestNewsHeading{
              height: auto;
              a{
                font-size: 1.8rem;
                line-height: 2.0rem;
              }
            }
          }
          .newsCardNavigation{
            .coverageInformation{
              position: relative;
            }
          }
          .writeMoreButton{
            position: relative;
            bottom: 0;
          }
        }
      }
      .newsPageLineFence{
        width: 1px;
      }
    }
  }
  .newsPage:not(:first-child){
    .newsPageLine{
      .newsPageLineCard{
        margin:0;
      }
    }
  }
  .newsPage{
    .mainPageLine{
      height: 370px;
      .newsPageLineCard{
        .newsCard{
          .newsCardInfo{
            .descriptionArea,.plainText{
              height: inherit;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }
          .newsCardNavigation{
            margin: 5px 0;
          }
        }
      }
    }
  }
  .newsPage:not(:first-child){
    .mainPageLine{
      .newsPageLineCard{
        padding:10px;
      }
    }
  }
  .mainInfo{
    .mainInfoMain{
      .mainInfoMainNews{
        .mainInfoMainNewsImage{
          a{
            height: 100%;
            img{
              height: 100%;
              max-height: none;
            }
          }
        }
      }
    }
    .mainInfoLatestNews{
      .mainInfoLatestNewsUnit{
        padding: 0 0 18px 0;
        margin:23px 0 0 0;
        .mainInfoLatestNewsUnitImg{
          width: 80px;
          height: 80px;
          .mainInfoLatestNewsUnitImgBlock{
            width: 80px;
            height: 80px;
          }
        }
      }
      .mainInfoLatestNewsUnit:last-child{
        padding: 0;
      }
    }
    .articleMainInfoLatestNews{
     .mainInfoLatestNewsUnit{
       margin: 0;
     }
    }
  }
}
%tablet{
  .container {
    max-width: 960px !important;
  }
  .mainInfo{
    display: flex;
  }
  .articleBodySecondaryFirst{
    display: none;
  }
  .mainInfoMain{
    width: 100%;
    border-right: none;
    .mainInfoMainNews{
      .mainInfoMainNewsImage{
        width: 50%;
        height:50%;
        margin:0 auto;
      }
    }
  }
  .articleBodyMainContentImage {
    width: 80%;
    img {
      object-fit: contain ;
      width: 100%;
      height: 100%;
    }
  }
  .mainInfoMainNewsImage {
    width: 100%;
    a{
      display: block;
      height: 100%;
      width: auto;
    }
    img {
      object-fit: contain ;
      width: 100%;
      height: 100%;
    }
  }
  .articleBodySecondaryContentUnit{
    height: auto;
    .articleBodySecondaryContentUnitImg{
      position: relative;
      width: auto;
      overflow: hidden;
      .articleBodySecondaryContentUnitImgBlock{
        width: 100%;
        height: 100%;
        a{
          display: block;
          height: 100%;
          width: auto;
        }
        img{
          object-fit: cover;
          width: auto;
          height: 100%;
        }
      }
    }
  }
  .newsPageLineWideCardWithImageImg{
    width: 280px;
    margin:15px 0;
    img{
      object-fit: contain ;
      width: 100%;
      height: 100%;
    }
  }
  .newsPageLineSlimCardWithImageImg{
    width: 280px;
    margin:15px 0;
    img{
      object-fit: contain ;
      width: 100%;
      height: 100%;
    }
  }
  .newsCardInfo{
    .newsPageLineSlimCardWithImageArticleImg{
      width: 280px;
      img{
        height: 100%;
        width: auto;
        object-fit: cover;
      }
    }
  }
  .newsPage,.articleNewsPage{
    .newsPageLine{
      .newsPageLineCard{
        width: 100%;
      }
    }
  }
  .articleMainInf{
    .mainInfArticle{
      display: flex;
      flex-direction: column;
    }
  }
  .mainInfo{
    flex-direction: column;
    border: none;
    margin:20px 0;
    padding: 0;
    .mainInfArticle {
      .mainInfoMainNews {
        border-bottom: 1px solid #D2D2D2;
        padding: 0 0 50px 0;
      }
    }
    .mainInfoLatestNews{
      .mainInfoLatestNewsWrapper{
        .mainInfoLatestNewsUnit:last-child{
          padding: 0 0 10px 0;
        }
      }
    }
    .mainInfoMainNews{
      max-width: 100%;
      margin: 0 auto;
      border-bottom: 1px solid #D2D2D2;
      padding: 0 0 20px 0;

    }
    .mainInfoLatestNews{
      padding: 0;
      border:none;
      width: 100%;
      .newsHeading{
        margin:40px 0 0 0;
      }
      .mainInfoLatestNewsUnit {
        max-width: 100%;
        padding: 0 0 10px 0;
        margin: 10px 0 0 0;
        border-bottom: 1px solid #d2d2d2;
        .mainInfoLatestNewsUnitBlock{
          .mainInfoLatestNewsDescription{
            height: auto;
          }
        }
      }
    }
  }

  .newsPageLine {
    justify-content: center;
    .newsPageLineCard{
      max-width: 45%;
      .newsCard{
        .newsCardInfo{
          .plainText{
            height: 260px;
            overflow:hidden;
            text-overflow: ellipsis;
          }
        }
      }
      .newsPageLineSlimCardWithImage,.newsPageLineWideCard,.newsPageLineSlimeCard,.newsPageLineWideCardWithImage{
        max-width:100%;
      }
    }
    .newsPageLineCard:nth-child(n+4){
      display: none;
    }
    .newsPageLineFence:nth-child(n+4){
      display: none;
    }
  }
  .articleMetrics{
    display: none;
  }
  .articleBody{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    margin:0;
    .articleBodyMain {
      width: 100%;
      .articleMetricsMobile{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin:0 0 15px 0;
        .timeToReading{
          margin:0 0 10px 0;
        }
        padding:0 0 15px 0;
      }
      .articleBodyMainContent{
        width: 100%;
        padding: 15px 0 0 0;
        .articleBodyMainContentImage{
          width: 100%;
        }
      }
    }
    .articleBodySecondary{
      width: 100%;
      .articleBodySecondaryContent{
        .articleBodySecondaryContentUnit{
          border-left:none;
          padding:10px 0;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          height: auto;
          .articleBodySecondaryContentUnitDescription{
            margin:0 0 0 10px;
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .latestNewsHeading{
              height: auto;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }
          .articleBodySecondaryContentUnitImg{
            width: 50%;
            height: auto;
          }
          .dateBlock{
            display: none;
          }
          .writeMoreButton{
            margin:auto 0 0 0;
          }
        }
        .articleBodySecondaryContentUnit:last-child{
          border-bottom:1px solid #d2d2d2;
        }
        .articleBodySecondaryContentUnit:nth-child(n+3){
          display: none;
        }
      }
    }
  }
  .articleInf{
    .articleInfRating,.articleInfLinks{
      span{
        display: none;
      }
    }
  }
  .articleNewsCard{
    .newsCardInfo{
      .latestNewsHeading{
        text-overflow: ellipsis;
        overflow: hidden;
        height: 150px;
        margin:5px 0;
      }
    }
  }
  .popUp{
    .popUpArticle{
      .mainNewsHeading{
        a{
          font-size: 3.0rem;
          font-weight: 700;
          line-height: 3.0rem;
        }
      }
    }
    .popUpList{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .popUpListArticle{
        .popUpListArticleDescription{
          .latestNewsHeading{
            p{
              font-size: 2.0rem;
              line-height: 2.0rem;
            }
          }
          .dateBlock{
            p{
              font-size: 1.2rem;
            }
          }
        }
      }
      .popUpListArticle:nth-child(1){
        padding: 0 0 25px 0;
      }
      .popUpListArticle:nth-child(2){
        padding: 25px 0 25px 0;
      }
      .popUpListArticle:nth-child(n+3){
        display: none;
      }
    }
  }
}
%mediumPhone{
  .container {
    max-width: 430px !important;
    padding: 0 5px;
  }
  .mainInfo{
    .mainInfoMainNews,.mainInfoLatestNewsUnitBlock{
      .mainInfoMainNewsImage{
        width: 100%;
        height:50%;
        margin:0 auto;
      }
      .mainInfoMainNewsInformation{
        .categoryButton{
          background: none;
          margin: -50px 0 15px 5px !important;
        }
      }
    }

    .mainInfoLatestNews {
      .newsHeading{
        display: none;
      }
      .mainInfoLatestNewsUnit {
        flex-direction: column;

        .mainInfoLatestNewsUnitImg {
          width: 100%;
          height: 200px;
          margin: 10px 0;

          .mainInfoLatestNewsUnitImgBlock {
            width: 100%;
            height: 200px;

            a {
              width: 100%;
              height: 100%;

              img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
  .article{
    .articleBody{
      .articleBodySecondary{
        .articleBodySecondaryContentUnit{
          height: auto;
          padding:10px 0 !important;
          justify-content: flex-start;
          a{
            margin:auto 0;
          }
          .articleBodySecondaryContentUnitDescription{
            width: 60%;
            .latestNewsHeading{
              a{
                font-size: 1.6rem;
                line-height: 1.8rem;
              }
            }
            .writeMoreButton{
              margin:5px 0;
            }
          }
        }
      }
      .articleBodyMain{
        .articleBodyMiniNewsDescription{
          margin: 0 0 0 10px;
        }
        .articleMetricsMobile{
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          margin:0 0 15px 0;
          .timeToReading{
            margin:0 0 10px 0;
          }
          padding:0 0 15px 0;
        }
        .articleBodyMainContent{
          .articleBodyMiniNews{
            .articleBodyMiniNewsDescription{
              .latestNewsHeading{
                a{
                  font-size: 1.6rem;
                  line-height: 2.0rem;
                }
              }
            }
          }
        }
      }
    }
  }
  .categoryWay{
    h1{
      a{
        font-size: 2rem;
      }
    }
  }
  .newsPage{
    border: none;
    .newsPageLine{
      display: flex;
      flex-direction: column;
      height: 100%;
      border:none;
      .newsPageLineFence{
        display: none;
      }
      .newsPageLineCard:nth-child(n+4){
        display: block;
      }
      .newsPageLineCard{
        height: 100%;
        max-width: 100%;
        padding: 0;
        .newsCard{
          height: 100%;
          margin:0 0 10px 0;
          padding: 0 0 10px 0;
          border-bottom: 1px solid #d2d2d2;
          .newsCardInfo{
            .categoryButton,.dateBlock{
              display: none;
            }
            .categoryButtonMobile,.dateBlockMobile{
              display: block;
            }
            .categoryButtonMobile{
              margin: -55px 0 15px 5px;
              background: none;
            }
            .descriptionArea{
              .plainText{
                height: 100%;
              }
            }
          }
          .coverageInformation{
            bottom:30px;
          }
          .writeMoreButton{
            position: relative;
            bottom: 0;
          }
          .newsCardNavigation{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            .writeMoreButton,.coverageInformation{
              position: relative;
              margin:10px 0 0 0;
              bottom: auto;
            }
          }
        }
      }
    }
  }
  .newsPage:not(:first-child){
    .newsPageLine{
      .newsPageLineCard{
        margin:0;
      }
    }
  }
  .mainInfo {
    margin: 40px 0 0 0 !important;
    padding: 0 0 30px 0 !important;
  }
  .mainInfoMainNewsImage,.articleBodyMainContentImage {
    a{
      display: block;
    }
    width: 100%;
    img {
      object-fit: cover ;
      width: 100%;
      height: 100%;
    }
  }
  .articleBody{
    .articleBodySecondary{
      .articleBodySecondaryContent{
        .articleBodySecondaryContentUnit{
          .articleBodySecondaryContentUnitImg{
            width: 110px;
            height: 110px;
            margin:auto 0;
            .articleBodySecondaryContentUnitImgBlock{
              a{
                display: block;
              }
              width: 100%;
              height: 100%;
              img{
                object-fit: cover;
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
  .articleBodyMainContentBlockImg{
    height: 110px;
    width: 110px;
    margin:auto 0;
    .articleBodyMainContentBlockImgBlock{
      height: 110px;
      width: 110px;
      a{
        display: block;
        img{
          object-fit: cover ;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .newsPageLineWideCardWithImageImg{
    a{
      display: block;
    }
    width: 100%;
    margin:15px 0;
    img{
      object-fit: contain ;
      width: 100%;
      height: 100%;
    }
  }
  .newsPageLineSlimCardWithImageImg{
    width: 100%;
    margin:15px 0;
    img{
      object-fit: contain ;
      width: 100%;
      height: 100%;
    }
  }
  .mainInfoMainNewsInformation{
    flex-direction: column;
  }
  .mainPageLine{
    .newsPageLineCard{
      .newsCard{
        .newsCardInfo{
          .descriptionArea{
            height: 100%;
            overflow:hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
  .popUp{
    .popUpList{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .popUpListArticle{
        margin:0 0 0 5px;
        .popUpListArticleImage{
          display: none;
        }
        .popUpListArticleDescription {
          margin: 0;
        }
        .mainNewsHeading{
          a{
            font-size: 2.4rem;
          }
        }
      }
      .popUpListArticle:nth-child(1){
        padding: 0 0 25px 0;
      }
      .popUpListArticle:nth-child(2){
        padding: 25px 0 25px 0;
      }
      .popUpListArticle:nth-child(n+3){
        display: none;
      }
    }
  }
  .articleMainInf{
    margin: 0 !important;
    padding: 0 !important;
    h2{
      margin: 0;
      padding: 10px 0;
    }
    .mainInfArticle{
      .mainInfoMain{
        .mainInfoMainNews{
          padding: 0 0 10px 0;
        }
      }
      .mainInfoLatestNewsUnit{
        margin:0;
      }
    }
  }
  .articleNewsPage{
    .newsPageLine{
      padding: 10px 0 0 0;
      .newsPageLineCard{
        .newsCard{
          .newsPageLineSlimCardWithImageArticleImg{
            width: 100%;
          }
        }
      }
    }
  }
}
%smallPhone{
  .container {
    max-width: 310px !important;
  }
  .errorMessage{
    h1{
      font-size: 2.4rem;
    }
    p{
      font-size: 1.8rem;
    }
  }
  .article{
    .articleBody{
      .articleBodyMain{
        .articleBodyMainContent{
          .articleBodyMainContentBlock{
            margin: 0 0 10px 0;
          }
        }
      }
    }
  }
}

.notebook{
  @extend %notebook;
}
.tablet{
  @extend %notebook;
  @extend %tablet;
}
.mediumPhone{
  @extend %notebook;
  @extend %tablet;
  @extend %mediumPhone;
}
.smallPhone{
  @extend %notebook;
  @extend %tablet;
  @extend %mediumPhone;
  @extend %smallPhone;
}


