.adminMenu
    .adminMenuList
        ul
            li
                a(href="#") список новостей
            li
                a(href="#") список тизеров
            li
                a(href="#") список рекламных кампаний
            li
                a(href="#") список категорий тизеров
            li
                a(href="#") статистика новостей
            li
                a(href="#") статистика тизеров
    .adminMenuUser
        .adminMenuUserProfile
            a(href="#") Login734952
        .adminMenuUserExit
            a(href="#") Выйти