section
    .container
        .mainInfo.articleMainInf
            h2 Рекомендуем
            .mainInfArticle
                .mainInfoMainNews
                    .mainInfoMainNewsImage
                        a(href="#")
                            img(src="assets/img/tsar.png")
                    .mainInfoMainNewsInformation
                        .dateBlock
                            p 20 сентября, 2021
                            <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 2C4 3.10457 3.10457 4 2 4C0.895431 4 0 3.10457 0 2C0 0.895431 0.895431 0 2 0C3.10457 0 4 0.895431 4 2Z" fill="#E1400B"/></svg>
                            p 20:17
                    .mainInfoMainNewsDescription
                        .mainNewsHeading
                            a( href="#" ) Путин поставил на место Медведева и обратился...
                    .mainInfoMainNewsNavigation
                        .writeMoreButton
                            a( href="#" ) Читать далее
                                <svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.5303 6.53033C20.8232 6.23744 20.8232 5.76256 20.5303 5.46967L15.7574 0.696699C15.4645 0.403806 14.9896 0.403806 14.6967 0.696699C14.4038 0.989593 14.4038 1.46447 14.6967 1.75736L18.9393 6L14.6967 10.2426C14.4038 10.5355 14.4038 11.0104 14.6967 11.3033C14.9896 11.5962 15.4645 11.5962 15.7574 11.3033L20.5303 6.53033ZM0 6.75H20V5.25H0V6.75Z" fill="#E1400B"/></svg>
                .mainInfoLatestNews
                    .newsHeading
                        h2 Последние новости
                    .mainInfoLatestNewsUnit
                        .mainInfoMainNewsInformation
                            .dateBlock
                                p 20 сентября, 2021
                                <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 2C4 3.10457 3.10457 4 2 4C0.895431 4 0 3.10457 0 2C0 0.895431 0.895431 0 2 0C3.10457 0 4 0.895431 4 2Z" fill="#E1400B"/></svg>
                                p 20:17
                        .mainInfoLatestNewsDescription
                            .latestNewsHeading
                                a( href="#" ) Пенсионеры, чистите сосуды дома! Утром выйдет до 2-х кг тромбов! На ночь в стакан...
                        .mainInfoMainNewsNavigation
                            .writeMoreButton
                                a( href="#" ) Читать далее
                                    <svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.5303 6.53033C20.8232 6.23744 20.8232 5.76256 20.5303 5.46967L15.7574 0.696699C15.4645 0.403806 14.9896 0.403806 14.6967 0.696699C14.4038 0.989593 14.4038 1.46447 14.6967 1.75736L18.9393 6L14.6967 10.2426C14.4038 10.5355 14.4038 11.0104 14.6967 11.3033C14.9896 11.5962 15.4645 11.5962 15.7574 11.3033L20.5303 6.53033ZM0 6.75H20V5.25H0V6.75Z" fill="#E1400B"/></svg>
                    .mainInfoLatestNewsUnit
                        .mainInfoMainNewsInformation
                            .dateBlock
                                p 20 сентября, 2021
                                <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 2C4 3.10457 3.10457 4 2 4C0.895431 4 0 3.10457 0 2C0 0.895431 0.895431 0 2 0C3.10457 0 4 0.895431 4 2Z" fill="#E1400B"/></svg>
                                p 20:17
                        .mainInfoLatestNewsDescription
                            .latestNewsHeading
                                a( href="#" ) Пенсионеры, чистите сосуды дома! Утром выйдет до 2-х кг тромбов! На ночь в стакан...
                        .mainInfoMainNewsNavigation
                            .writeMoreButton
                                a( href="#" ) Читать далее
                                    <svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.5303 6.53033C20.8232 6.23744 20.8232 5.76256 20.5303 5.46967L15.7574 0.696699C15.4645 0.403806 14.9896 0.403806 14.6967 0.696699C14.4038 0.989593 14.4038 1.46447 14.6967 1.75736L18.9393 6L14.6967 10.2426C14.4038 10.5355 14.4038 11.0104 14.6967 11.3033C14.9896 11.5962 15.4645 11.5962 15.7574 11.3033L20.5303 6.53033ZM0 6.75H20V5.25H0V6.75Z" fill="#E1400B"/></svg>
                    .mainInfoLatestNewsUnit
                        .mainInfoMainNewsInformation
                            .dateBlock
                                p 20 сентября, 2021
                                <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 2C4 3.10457 3.10457 4 2 4C0.895431 4 0 3.10457 0 2C0 0.895431 0.895431 0 2 0C3.10457 0 4 0.895431 4 2Z" fill="#E1400B"/></svg>
                                p 20:17
                        .mainInfoLatestNewsDescription
                            .latestNewsHeading
                                a( href="#" ) Пенсионеры, чистите сосуды дома! Утром выйдет до 2-х кг тромбов! На ночь в стакан...
                        .mainInfoMainNewsNavigation
                            .writeMoreButton
                                a( href="#" ) Читать далее
                                    <svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.5303 6.53033C20.8232 6.23744 20.8232 5.76256 20.5303 5.46967L15.7574 0.696699C15.4645 0.403806 14.9896 0.403806 14.6967 0.696699C14.4038 0.989593 14.4038 1.46447 14.6967 1.75736L18.9393 6L14.6967 10.2426C14.4038 10.5355 14.4038 11.0104 14.6967 11.3033C14.9896 11.5962 15.4645 11.5962 15.7574 11.3033L20.5303 6.53033ZM0 6.75H20V5.25H0V6.75Z" fill="#E1400B"/></svg>
section
    .container
        .newsPage
            .newsPageLine
                .newsPageLineCard
                    .newsPageLineSlimCardWithImage.newsCard.articleNewsCard
                        .newsCardInfo
                            .dateBlock
                                p 20 сентября, 2021
                                <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 2C4 3.10457 3.10457 4 2 4C0.895431 4 0 3.10457 0 2C0 0.895431 0.895431 0 2 0C3.10457 0 4 0.895431 4 2Z" fill="#E1400B"/></svg>
                                p 20:17
                            .newsPageLineSlimCardWithImageArticleImg
                                a( href="#" )
                                    img(src="assets/img/tsar.png")
                            .latestNewsHeading
                                a( href="#" ) Пенсионеры, чистите сосуды дома! Утром выйдет до 2-х кг тромбов! На ночь в стакан теплой воды...
                        .writeMoreButton
                            a( href="#" ) Читать далее
                                <svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.5303 6.53033C20.8232 6.23744 20.8232 5.76256 20.5303 5.46967L15.7574 0.696699C15.4645 0.403806 14.9896 0.403806 14.6967 0.696699C14.4038 0.989593 14.4038 1.46447 14.6967 1.75736L18.9393 6L14.6967 10.2426C14.4038 10.5355 14.4038 11.0104 14.6967 11.3033C14.9896 11.5962 15.4645 11.5962 15.7574 11.3033L20.5303 6.53033ZM0 6.75H20V5.25H0V6.75Z" fill="#E1400B"/></svg>
                .newsPageLineCard
                    .newsPageLineWideCardWithImage.newsCard.articleNewsCard
                        .newsCardInfo
                            .dateBlock
                                p 20 сентября, 2021
                                <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 2C4 3.10457 3.10457 4 2 4C0.895431 4 0 3.10457 0 2C0 0.895431 0.895431 0 2 0C3.10457 0 4 0.895431 4 2Z" fill="#E1400B"/></svg>
                                p 20:17
                            .newsPageLineSlimCardWithImageArticleImg
                                a( href="#" )
                                    img(src="assets/img/tsar.png")
                            .latestNewsHeading
                                a( href="#" ) Скандал в студии! От гипертоников скрывали главное средство от давления! Им оказалось...
                        .writeMoreButton
                            a( href="#" ) Читать далее
                                <svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.5303 6.53033C20.8232 6.23744 20.8232 5.76256 20.5303 5.46967L15.7574 0.696699C15.4645 0.403806 14.9896 0.403806 14.6967 0.696699C14.4038 0.989593 14.4038 1.46447 14.6967 1.75736L18.9393 6L14.6967 10.2426C14.4038 10.5355 14.4038 11.0104 14.6967 11.3033C14.9896 11.5962 15.4645 11.5962 15.7574 11.3033L20.5303 6.53033ZM0 6.75H20V5.25H0V6.75Z" fill="#E1400B"/></svg>
                .newsPageLineCard
                    .newsPageLineSlimCardWithImage.newsCard.articleNewsCard
                        .newsCardInfo
                            .dateBlock
                                p 20 сентября, 2021
                                <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 2C4 3.10457 3.10457 4 2 4C0.895431 4 0 3.10457 0 2C0 0.895431 0.895431 0 2 0C3.10457 0 4 0.895431 4 2Z" fill="#E1400B"/></svg>
                                p 20:17
                            .newsPageLineSlimCardWithImageArticleImg
                                a( href="#" )
                                    img(src="assets/img/tsar.png")
                            .latestNewsHeading
                                a( href="#" ) Пенсионеры, чистите сосуды дома! Утром выйдет до 2-х кг тромбов! На ночь в стакан теплой воды...
                        .writeMoreButton
                            a( href="#" ) Читать далее
                                <svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.5303 6.53033C20.8232 6.23744 20.8232 5.76256 20.5303 5.46967L15.7574 0.696699C15.4645 0.403806 14.9896 0.403806 14.6967 0.696699C14.4038 0.989593 14.4038 1.46447 14.6967 1.75736L18.9393 6L14.6967 10.2426C14.4038 10.5355 14.4038 11.0104 14.6967 11.3033C14.9896 11.5962 15.4645 11.5962 15.7574 11.3033L20.5303 6.53033ZM0 6.75H20V5.25H0V6.75Z" fill="#E1400B"/></svg>
                .newsPageLineCard
                    .newsPageLineWideCardWithImage.newsCard.articleNewsCard
                        .newsCardInfo
                            .dateBlock
                                p 20 сентября, 2021
                                <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 2C4 3.10457 3.10457 4 2 4C0.895431 4 0 3.10457 0 2C0 0.895431 0.895431 0 2 0C3.10457 0 4 0.895431 4 2Z" fill="#E1400B"/></svg>
                                p 20:17
                            .newsPageLineSlimCardWithImageArticleImg
                                a( href="#" )
                                    img(src="assets/img/tsar.png")
                            .latestNewsHeading
                                a( href="#" ) Скандал в студии! От гипертоников скрывали главное средство от давления! Им оказалось...
                        .writeMoreButton
                            a( href="#" ) Читать далее
                                <svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.5303 6.53033C20.8232 6.23744 20.8232 5.76256 20.5303 5.46967L15.7574 0.696699C15.4645 0.403806 14.9896 0.403806 14.6967 0.696699C14.4038 0.989593 14.4038 1.46447 14.6967 1.75736L18.9393 6L14.6967 10.2426C14.4038 10.5355 14.4038 11.0104 14.6967 11.3033C14.9896 11.5962 15.4645 11.5962 15.7574 11.3033L20.5303 6.53033ZM0 6.75H20V5.25H0V6.75Z" fill="#E1400B"/></svg>
        .newsPage
            .newsPageLine
                .newsPageLineCard
                    .newsPageLineSlimCardWithImage.newsCard.articleNewsCard
                        .newsCardInfo
                            .dateBlock
                                p 20 сентября, 2021
                                <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 2C4 3.10457 3.10457 4 2 4C0.895431 4 0 3.10457 0 2C0 0.895431 0.895431 0 2 0C3.10457 0 4 0.895431 4 2Z" fill="#E1400B"/></svg>
                                p 20:17
                            .newsPageLineSlimCardWithImageArticleImg
                                a( href="#" )
                                    img(src="assets/img/tsar.png")
                            .latestNewsHeading
                                a( href="#" ) Пенсионеры, чистите сосуды дома! Утром выйдет до 2-х кг тромбов! На ночь в стакан теплой воды...
                        .writeMoreButton
                            a( href="#" ) Читать далее
                                <svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.5303 6.53033C20.8232 6.23744 20.8232 5.76256 20.5303 5.46967L15.7574 0.696699C15.4645 0.403806 14.9896 0.403806 14.6967 0.696699C14.4038 0.989593 14.4038 1.46447 14.6967 1.75736L18.9393 6L14.6967 10.2426C14.4038 10.5355 14.4038 11.0104 14.6967 11.3033C14.9896 11.5962 15.4645 11.5962 15.7574 11.3033L20.5303 6.53033ZM0 6.75H20V5.25H0V6.75Z" fill="#E1400B"/></svg>
                .newsPageLineCard
                    .newsPageLineWideCardWithImage.newsCard.articleNewsCard
                        .newsCardInfo
                            .dateBlock
                                p 20 сентября, 2021
                                <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 2C4 3.10457 3.10457 4 2 4C0.895431 4 0 3.10457 0 2C0 0.895431 0.895431 0 2 0C3.10457 0 4 0.895431 4 2Z" fill="#E1400B"/></svg>
                                p 20:17
                            .newsPageLineSlimCardWithImageArticleImg
                                a( href="#" )
                                    img(src="assets/img/tsar.png")
                            .latestNewsHeading
                                a( href="#" ) Скандал в студии! От гипертоников скрывали главное средство от давления! Им оказалось...
                        .writeMoreButton
                            a( href="#" ) Читать далее
                                <svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.5303 6.53033C20.8232 6.23744 20.8232 5.76256 20.5303 5.46967L15.7574 0.696699C15.4645 0.403806 14.9896 0.403806 14.6967 0.696699C14.4038 0.989593 14.4038 1.46447 14.6967 1.75736L18.9393 6L14.6967 10.2426C14.4038 10.5355 14.4038 11.0104 14.6967 11.3033C14.9896 11.5962 15.4645 11.5962 15.7574 11.3033L20.5303 6.53033ZM0 6.75H20V5.25H0V6.75Z" fill="#E1400B"/></svg>
                .newsPageLineCard
                    .newsPageLineSlimCardWithImage.newsCard.articleNewsCard
                        .newsCardInfo
                            .dateBlock
                                p 20 сентября, 2021
                                <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 2C4 3.10457 3.10457 4 2 4C0.895431 4 0 3.10457 0 2C0 0.895431 0.895431 0 2 0C3.10457 0 4 0.895431 4 2Z" fill="#E1400B"/></svg>
                                p 20:17
                            .newsPageLineSlimCardWithImageArticleImg
                                a( href="#" )
                                    img(src="assets/img/tsar.png")
                            .latestNewsHeading
                                a( href="#" ) Пенсионеры, чистите сосуды дома! Утром выйдет до 2-х кг тромбов! На ночь в стакан теплой воды...
                        .writeMoreButton
                            a( href="#" ) Читать далее
                                <svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.5303 6.53033C20.8232 6.23744 20.8232 5.76256 20.5303 5.46967L15.7574 0.696699C15.4645 0.403806 14.9896 0.403806 14.6967 0.696699C14.4038 0.989593 14.4038 1.46447 14.6967 1.75736L18.9393 6L14.6967 10.2426C14.4038 10.5355 14.4038 11.0104 14.6967 11.3033C14.9896 11.5962 15.4645 11.5962 15.7574 11.3033L20.5303 6.53033ZM0 6.75H20V5.25H0V6.75Z" fill="#E1400B"/></svg>
                .newsPageLineCard
                    .newsPageLineWideCardWithImage.newsCard.articleNewsCard
                        .newsCardInfo
                            .dateBlock
                                p 20 сентября, 2021
                                <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 2C4 3.10457 3.10457 4 2 4C0.895431 4 0 3.10457 0 2C0 0.895431 0.895431 0 2 0C3.10457 0 4 0.895431 4 2Z" fill="#E1400B"/></svg>
                                p 20:17
                            .newsPageLineSlimCardWithImageArticleImg
                                a( href="#" )
                                    img(src="assets/img/tsar.png")
                            .latestNewsHeading
                                a( href="#" ) Скандал в студии! От гипертоников скрывали главное средство от давления! Им оказалось...
                        .writeMoreButton
                            a( href="#" ) Читать далее
                                <svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.5303 6.53033C20.8232 6.23744 20.8232 5.76256 20.5303 5.46967L15.7574 0.696699C15.4645 0.403806 14.9896 0.403806 14.6967 0.696699C14.4038 0.989593 14.4038 1.46447 14.6967 1.75736L18.9393 6L14.6967 10.2426C14.4038 10.5355 14.4038 11.0104 14.6967 11.3033C14.9896 11.5962 15.4645 11.5962 15.7574 11.3033L20.5303 6.53033ZM0 6.75H20V5.25H0V6.75Z" fill="#E1400B"/></svg>