section
    .container
        .mainInfo
            .mainInfoMain
                .mainInfoMainNews
                    .mainInfoMainNewsImage
                        a(href="#")
                            img(src="assets/img/tsar.png")
                    .wrapper
                        .mainInfoMainNewsInformation
                            .categoryButton
                                a( href="#" ) здоровье
                            .dateBlock
                                p 20 сентября, 2021

                        .mainInfoMainNewsDescription
                            .mainNewsHeading
                                a( href="#" ) Путин поставил на место Медведева и обратился...
                            .plainText
                                p Президент РФ Владимир Путин высказался против принудительной вакцинации от коронавируса, считает, что она должна быть сугубо добровольной.
                        .mainInfoMainNewsNavigation
                            .coverageInformation
                                .views
                                    <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.18226 0.0351128C9.09513 0.0731966 5.32909 4.23808 5.12414 4.52298C4.97796 4.72623 4.83462 5.02566 4.76019 5.28324L4.69394 5.51254V8.35264C4.69394 11.4378 4.68552 11.2613 4.85454 11.7139C5.06345 12.2734 5.63713 12.8237 6.23133 13.0347C6.64489 13.1815 6.70383 13.184 9.49057 13.1732C11.8001 13.1643 12.1048 13.1578 12.2487 13.1146C12.8746 12.9266 13.3275 12.6076 13.6408 12.1341C13.8873 11.7615 13.9136 11.6649 14.4791 9.05899C14.9941 6.6856 15.0118 6.59293 14.9968 6.35133C14.957 5.71223 14.5822 5.14889 14.0157 4.87656C13.6734 4.71198 13.5809 4.7043 11.9256 4.70304C10.5167 4.70198 10.4066 4.69821 10.2946 4.64715C10.1365 4.57513 10.0367 4.41476 10.0367 4.23267C10.0367 4.11091 10.0945 3.99189 10.5811 3.1122C10.8804 2.57087 11.1466 2.06174 11.1724 1.9808C11.3293 1.4888 11.2121 0.975202 10.8545 0.587682C10.6376 0.352645 10.429 0.249048 9.89422 0.110692C9.41101 -0.0143021 9.31789 -0.024191 9.18226 0.0351128ZM0.704092 3.78876C0.441143 3.85256 0.198202 4.05155 0.0726388 4.30586L0 4.45302V8.47037V12.4877L0.0662139 12.6211C0.170361 12.8308 0.288766 12.9547 0.489197 13.0637L0.674754 13.1646L2.20762 13.1732L3.74049 13.1818V8.4716V3.76139L2.26629 3.76439C1.45547 3.76607 0.752498 3.77701 0.704092 3.78876Z" fill="black"/></svg>
                                    p 13256
                                .appraisals
                                    <svg width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.04167 0.0143167C4.56512 0.157019 2.2277 1.48354 0.364194 3.80386C-0.122376 4.4097 -0.121995 4.51734 0.368939 5.13027C2.22861 7.45213 4.57408 8.7779 7.06232 8.91369C9.87851 9.0674 12.5395 7.73681 14.6358 5.12661C15.1224 4.52077 15.122 4.41313 14.6311 3.8002C13.2726 2.10412 11.6564 0.938805 9.86905 0.366766C9.31383 0.189062 8.64118 0.0592186 8.1151 0.0281417C7.54098 -0.00574716 7.4172 -0.00732884 7.04167 0.0143167ZM8.11952 1.37801C8.96135 1.53647 9.77029 2.10907 10.2084 2.85664C10.7372 3.75881 10.7929 4.85011 10.3574 5.77225C10.1875 6.13211 10.0251 6.36617 9.74533 6.65447C8.17962 8.26799 5.51204 7.77468 4.60399 5.70368C4.27629 4.95631 4.27011 4.04337 4.58749 3.26433C4.89627 2.50642 5.56772 1.84279 6.33041 1.54177C6.91042 1.31287 7.49101 1.25971 8.11952 1.37801ZM7.19245 2.79452C6.71613 2.89753 6.29453 3.19465 6.05309 3.59751C5.87559 3.89366 5.81605 4.11354 5.8181 4.46523C5.82012 4.80459 5.85032 4.94146 5.98596 5.22602C6.11062 5.48746 6.47467 5.85037 6.74159 5.97928C7.68154 6.43316 8.77483 5.97148 9.1131 4.97781C9.20988 4.69355 9.21257 4.2479 9.11931 3.95142C8.9064 3.27479 8.28498 2.8033 7.57323 2.77838C7.42824 2.77331 7.25689 2.78058 7.19245 2.79452Z" fill="black"/></svg>
                                    p 35439
                            .writeMoreButton
                                a( href="#" ) Читать далее
                                    <svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.5303 6.53033C20.8232 6.23744 20.8232 5.76256 20.5303 5.46967L15.7574 0.696699C15.4645 0.403806 14.9896 0.403806 14.6967 0.696699C14.4038 0.989593 14.4038 1.46447 14.6967 1.75736L18.9393 6L14.6967 10.2426C14.4038 10.5355 14.4038 11.0104 14.6967 11.3033C14.9896 11.5962 15.4645 11.5962 15.7574 11.3033L20.5303 6.53033ZM0 6.75H20V5.25H0V6.75Z" fill="#E1400B"/></svg>
            .mainInfoLatestNews
                .newsHeading
                    h2 Последние новости
                .mainInfoLatestNewsUnit
                    .mainInfoLatestNewsUnitImg
                        .mainInfoLatestNewsUnitImgBlock
                            a( href="#" )
                                img(src="assets/img/tsar.png")
                    .mainInfoLatestNewsUnitBlock
                        .mainInfoMainNewsInformation
                            .categoryButton
                                a( href="#" ) здоровье
                            .dateBlock
                                p 20 сентября, 2021

                        .mainInfoLatestNewsDescription
                            .latestNewsHeading
                                a( href="#" ) Пенсионеры, чистите сосуды дома! Утром выйдет до 2-х кг тромбов! На ночь в стакан...
                        .mainInfoMainNewsNavigation
                            .coverageInformation
                                .views
                                    <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.18226 0.0351128C9.09513 0.0731966 5.32909 4.23808 5.12414 4.52298C4.97796 4.72623 4.83462 5.02566 4.76019 5.28324L4.69394 5.51254V8.35264C4.69394 11.4378 4.68552 11.2613 4.85454 11.7139C5.06345 12.2734 5.63713 12.8237 6.23133 13.0347C6.64489 13.1815 6.70383 13.184 9.49057 13.1732C11.8001 13.1643 12.1048 13.1578 12.2487 13.1146C12.8746 12.9266 13.3275 12.6076 13.6408 12.1341C13.8873 11.7615 13.9136 11.6649 14.4791 9.05899C14.9941 6.6856 15.0118 6.59293 14.9968 6.35133C14.957 5.71223 14.5822 5.14889 14.0157 4.87656C13.6734 4.71198 13.5809 4.7043 11.9256 4.70304C10.5167 4.70198 10.4066 4.69821 10.2946 4.64715C10.1365 4.57513 10.0367 4.41476 10.0367 4.23267C10.0367 4.11091 10.0945 3.99189 10.5811 3.1122C10.8804 2.57087 11.1466 2.06174 11.1724 1.9808C11.3293 1.4888 11.2121 0.975202 10.8545 0.587682C10.6376 0.352645 10.429 0.249048 9.89422 0.110692C9.41101 -0.0143021 9.31789 -0.024191 9.18226 0.0351128ZM0.704092 3.78876C0.441143 3.85256 0.198202 4.05155 0.0726388 4.30586L0 4.45302V8.47037V12.4877L0.0662139 12.6211C0.170361 12.8308 0.288766 12.9547 0.489197 13.0637L0.674754 13.1646L2.20762 13.1732L3.74049 13.1818V8.4716V3.76139L2.26629 3.76439C1.45547 3.76607 0.752498 3.77701 0.704092 3.78876Z" fill="black"/></svg>
                                    p 13256
                                .appraisals
                                    <svg width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.04167 0.0143167C4.56512 0.157019 2.2277 1.48354 0.364194 3.80386C-0.122376 4.4097 -0.121995 4.51734 0.368939 5.13027C2.22861 7.45213 4.57408 8.7779 7.06232 8.91369C9.87851 9.0674 12.5395 7.73681 14.6358 5.12661C15.1224 4.52077 15.122 4.41313 14.6311 3.8002C13.2726 2.10412 11.6564 0.938805 9.86905 0.366766C9.31383 0.189062 8.64118 0.0592186 8.1151 0.0281417C7.54098 -0.00574716 7.4172 -0.00732884 7.04167 0.0143167ZM8.11952 1.37801C8.96135 1.53647 9.77029 2.10907 10.2084 2.85664C10.7372 3.75881 10.7929 4.85011 10.3574 5.77225C10.1875 6.13211 10.0251 6.36617 9.74533 6.65447C8.17962 8.26799 5.51204 7.77468 4.60399 5.70368C4.27629 4.95631 4.27011 4.04337 4.58749 3.26433C4.89627 2.50642 5.56772 1.84279 6.33041 1.54177C6.91042 1.31287 7.49101 1.25971 8.11952 1.37801ZM7.19245 2.79452C6.71613 2.89753 6.29453 3.19465 6.05309 3.59751C5.87559 3.89366 5.81605 4.11354 5.8181 4.46523C5.82012 4.80459 5.85032 4.94146 5.98596 5.22602C6.11062 5.48746 6.47467 5.85037 6.74159 5.97928C7.68154 6.43316 8.77483 5.97148 9.1131 4.97781C9.20988 4.69355 9.21257 4.2479 9.11931 3.95142C8.9064 3.27479 8.28498 2.8033 7.57323 2.77838C7.42824 2.77331 7.25689 2.78058 7.19245 2.79452Z" fill="black"/></svg>
                                    p 35439
                            .writeMoreButton
                                a( href="#" ) Читать далее
                                    <svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.5303 6.53033C20.8232 6.23744 20.8232 5.76256 20.5303 5.46967L15.7574 0.696699C15.4645 0.403806 14.9896 0.403806 14.6967 0.696699C14.4038 0.989593 14.4038 1.46447 14.6967 1.75736L18.9393 6L14.6967 10.2426C14.4038 10.5355 14.4038 11.0104 14.6967 11.3033C14.9896 11.5962 15.4645 11.5962 15.7574 11.3033L20.5303 6.53033ZM0 6.75H20V5.25H0V6.75Z" fill="#E1400B"/></svg>
                .mainInfoLatestNewsUnit
                    .mainInfoLatestNewsUnitImg
                        .mainInfoLatestNewsUnitImgBlock
                            a( href="#" )
                                img(src="assets/img/tsar.png")
                    .mainInfoLatestNewsUnitBlock
                        .mainInfoMainNewsInformation
                            .categoryButton
                                a( href="#" ) здоровье
                            .dateBlock
                                p 20 сентября, 2021

                        .mainInfoLatestNewsDescription
                            .latestNewsHeading
                                a( href="#" ) Пенсионеры, чистите сосуды дома! Утром выйдет до 2-х кг тромбов! На ночь в стакан...
                        .mainInfoMainNewsNavigation
                            .coverageInformation
                                .views
                                    <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.18226 0.0351128C9.09513 0.0731966 5.32909 4.23808 5.12414 4.52298C4.97796 4.72623 4.83462 5.02566 4.76019 5.28324L4.69394 5.51254V8.35264C4.69394 11.4378 4.68552 11.2613 4.85454 11.7139C5.06345 12.2734 5.63713 12.8237 6.23133 13.0347C6.64489 13.1815 6.70383 13.184 9.49057 13.1732C11.8001 13.1643 12.1048 13.1578 12.2487 13.1146C12.8746 12.9266 13.3275 12.6076 13.6408 12.1341C13.8873 11.7615 13.9136 11.6649 14.4791 9.05899C14.9941 6.6856 15.0118 6.59293 14.9968 6.35133C14.957 5.71223 14.5822 5.14889 14.0157 4.87656C13.6734 4.71198 13.5809 4.7043 11.9256 4.70304C10.5167 4.70198 10.4066 4.69821 10.2946 4.64715C10.1365 4.57513 10.0367 4.41476 10.0367 4.23267C10.0367 4.11091 10.0945 3.99189 10.5811 3.1122C10.8804 2.57087 11.1466 2.06174 11.1724 1.9808C11.3293 1.4888 11.2121 0.975202 10.8545 0.587682C10.6376 0.352645 10.429 0.249048 9.89422 0.110692C9.41101 -0.0143021 9.31789 -0.024191 9.18226 0.0351128ZM0.704092 3.78876C0.441143 3.85256 0.198202 4.05155 0.0726388 4.30586L0 4.45302V8.47037V12.4877L0.0662139 12.6211C0.170361 12.8308 0.288766 12.9547 0.489197 13.0637L0.674754 13.1646L2.20762 13.1732L3.74049 13.1818V8.4716V3.76139L2.26629 3.76439C1.45547 3.76607 0.752498 3.77701 0.704092 3.78876Z" fill="black"/></svg>
                                    p 13256
                                .appraisals
                                    <svg width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.04167 0.0143167C4.56512 0.157019 2.2277 1.48354 0.364194 3.80386C-0.122376 4.4097 -0.121995 4.51734 0.368939 5.13027C2.22861 7.45213 4.57408 8.7779 7.06232 8.91369C9.87851 9.0674 12.5395 7.73681 14.6358 5.12661C15.1224 4.52077 15.122 4.41313 14.6311 3.8002C13.2726 2.10412 11.6564 0.938805 9.86905 0.366766C9.31383 0.189062 8.64118 0.0592186 8.1151 0.0281417C7.54098 -0.00574716 7.4172 -0.00732884 7.04167 0.0143167ZM8.11952 1.37801C8.96135 1.53647 9.77029 2.10907 10.2084 2.85664C10.7372 3.75881 10.7929 4.85011 10.3574 5.77225C10.1875 6.13211 10.0251 6.36617 9.74533 6.65447C8.17962 8.26799 5.51204 7.77468 4.60399 5.70368C4.27629 4.95631 4.27011 4.04337 4.58749 3.26433C4.89627 2.50642 5.56772 1.84279 6.33041 1.54177C6.91042 1.31287 7.49101 1.25971 8.11952 1.37801ZM7.19245 2.79452C6.71613 2.89753 6.29453 3.19465 6.05309 3.59751C5.87559 3.89366 5.81605 4.11354 5.8181 4.46523C5.82012 4.80459 5.85032 4.94146 5.98596 5.22602C6.11062 5.48746 6.47467 5.85037 6.74159 5.97928C7.68154 6.43316 8.77483 5.97148 9.1131 4.97781C9.20988 4.69355 9.21257 4.2479 9.11931 3.95142C8.9064 3.27479 8.28498 2.8033 7.57323 2.77838C7.42824 2.77331 7.25689 2.78058 7.19245 2.79452Z" fill="black"/></svg>
                                    p 35439
                            .writeMoreButton
                                a( href="#" ) Читать далее
                                    <svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.5303 6.53033C20.8232 6.23744 20.8232 5.76256 20.5303 5.46967L15.7574 0.696699C15.4645 0.403806 14.9896 0.403806 14.6967 0.696699C14.4038 0.989593 14.4038 1.46447 14.6967 1.75736L18.9393 6L14.6967 10.2426C14.4038 10.5355 14.4038 11.0104 14.6967 11.3033C14.9896 11.5962 15.4645 11.5962 15.7574 11.3033L20.5303 6.53033ZM0 6.75H20V5.25H0V6.75Z" fill="#E1400B"/></svg>
                .mainInfoLatestNewsUnit
                    .mainInfoLatestNewsUnitImg
                        .mainInfoLatestNewsUnitImgBlock
                            a( href="#" )
                                img(src="assets/img/tsar.png")
                    .mainInfoLatestNewsUnitBlock
                        .mainInfoMainNewsInformation
                            .categoryButton
                                a( href="#" ) здоровье
                            .dateBlock
                                p 20 сентября, 2021

                        .mainInfoLatestNewsDescription
                            .latestNewsHeading
                                a( href="#" ) Пенсионеры, чистите сосуды дома! Утром выйдет до 2-х кг тромбов! На ночь в стакан...
                        .mainInfoMainNewsNavigation
                            .coverageInformation
                                .views
                                    <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.18226 0.0351128C9.09513 0.0731966 5.32909 4.23808 5.12414 4.52298C4.97796 4.72623 4.83462 5.02566 4.76019 5.28324L4.69394 5.51254V8.35264C4.69394 11.4378 4.68552 11.2613 4.85454 11.7139C5.06345 12.2734 5.63713 12.8237 6.23133 13.0347C6.64489 13.1815 6.70383 13.184 9.49057 13.1732C11.8001 13.1643 12.1048 13.1578 12.2487 13.1146C12.8746 12.9266 13.3275 12.6076 13.6408 12.1341C13.8873 11.7615 13.9136 11.6649 14.4791 9.05899C14.9941 6.6856 15.0118 6.59293 14.9968 6.35133C14.957 5.71223 14.5822 5.14889 14.0157 4.87656C13.6734 4.71198 13.5809 4.7043 11.9256 4.70304C10.5167 4.70198 10.4066 4.69821 10.2946 4.64715C10.1365 4.57513 10.0367 4.41476 10.0367 4.23267C10.0367 4.11091 10.0945 3.99189 10.5811 3.1122C10.8804 2.57087 11.1466 2.06174 11.1724 1.9808C11.3293 1.4888 11.2121 0.975202 10.8545 0.587682C10.6376 0.352645 10.429 0.249048 9.89422 0.110692C9.41101 -0.0143021 9.31789 -0.024191 9.18226 0.0351128ZM0.704092 3.78876C0.441143 3.85256 0.198202 4.05155 0.0726388 4.30586L0 4.45302V8.47037V12.4877L0.0662139 12.6211C0.170361 12.8308 0.288766 12.9547 0.489197 13.0637L0.674754 13.1646L2.20762 13.1732L3.74049 13.1818V8.4716V3.76139L2.26629 3.76439C1.45547 3.76607 0.752498 3.77701 0.704092 3.78876Z" fill="black"/></svg>
                                    p 13256
                                .appraisals
                                    <svg width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.04167 0.0143167C4.56512 0.157019 2.2277 1.48354 0.364194 3.80386C-0.122376 4.4097 -0.121995 4.51734 0.368939 5.13027C2.22861 7.45213 4.57408 8.7779 7.06232 8.91369C9.87851 9.0674 12.5395 7.73681 14.6358 5.12661C15.1224 4.52077 15.122 4.41313 14.6311 3.8002C13.2726 2.10412 11.6564 0.938805 9.86905 0.366766C9.31383 0.189062 8.64118 0.0592186 8.1151 0.0281417C7.54098 -0.00574716 7.4172 -0.00732884 7.04167 0.0143167ZM8.11952 1.37801C8.96135 1.53647 9.77029 2.10907 10.2084 2.85664C10.7372 3.75881 10.7929 4.85011 10.3574 5.77225C10.1875 6.13211 10.0251 6.36617 9.74533 6.65447C8.17962 8.26799 5.51204 7.77468 4.60399 5.70368C4.27629 4.95631 4.27011 4.04337 4.58749 3.26433C4.89627 2.50642 5.56772 1.84279 6.33041 1.54177C6.91042 1.31287 7.49101 1.25971 8.11952 1.37801ZM7.19245 2.79452C6.71613 2.89753 6.29453 3.19465 6.05309 3.59751C5.87559 3.89366 5.81605 4.11354 5.8181 4.46523C5.82012 4.80459 5.85032 4.94146 5.98596 5.22602C6.11062 5.48746 6.47467 5.85037 6.74159 5.97928C7.68154 6.43316 8.77483 5.97148 9.1131 4.97781C9.20988 4.69355 9.21257 4.2479 9.11931 3.95142C8.9064 3.27479 8.28498 2.8033 7.57323 2.77838C7.42824 2.77331 7.25689 2.78058 7.19245 2.79452Z" fill="black"/></svg>
                                    p 35439
                            .writeMoreButton
                                a( href="#" ) Читать далее
                                    <svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.5303 6.53033C20.8232 6.23744 20.8232 5.76256 20.5303 5.46967L15.7574 0.696699C15.4645 0.403806 14.9896 0.403806 14.6967 0.696699C14.4038 0.989593 14.4038 1.46447 14.6967 1.75736L18.9393 6L14.6967 10.2426C14.4038 10.5355 14.4038 11.0104 14.6967 11.3033C14.9896 11.5962 15.4645 11.5962 15.7574 11.3033L20.5303 6.53033ZM0 6.75H20V5.25H0V6.75Z" fill="#E1400B"/></svg>
section
    .container
        .newsPage
            .newsPageLine.mainPageLine
                .newsPageLineCard
                    .newsPageLineSlimCardWithImage.newsCard
                        .newsCardInfo
                            .categoryButton
                                a( href="#" ) здоровье
                                .dateBlock
                                    p 20 сентября, 2021
                            .newsPageLineSlimCardWithImageImg
                                a( href="#" )
                                    img(src="assets/img/tsar.png")
                            .categoryButtonMobile.categoryButton
                                a( href="#" ) здоровье
                            .dateBlockMobile.dateBlock
                                p 20 сентября, 2021
                            .descriptionArea
                                .latestNewsHeading
                                    a( href="#" ) Пенсионеры, чистите сосуды дома! Утром выйдет до 2-х кг тромбов! На ночь в стакан теплой воды...
                        .newsCardNavigation
                            .coverageInformation
                                .views
                                    <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.18226 0.0351128C9.09513 0.0731966 5.32909 4.23808 5.12414 4.52298C4.97796 4.72623 4.83462 5.02566 4.76019 5.28324L4.69394 5.51254V8.35264C4.69394 11.4378 4.68552 11.2613 4.85454 11.7139C5.06345 12.2734 5.63713 12.8237 6.23133 13.0347C6.64489 13.1815 6.70383 13.184 9.49057 13.1732C11.8001 13.1643 12.1048 13.1578 12.2487 13.1146C12.8746 12.9266 13.3275 12.6076 13.6408 12.1341C13.8873 11.7615 13.9136 11.6649 14.4791 9.05899C14.9941 6.6856 15.0118 6.59293 14.9968 6.35133C14.957 5.71223 14.5822 5.14889 14.0157 4.87656C13.6734 4.71198 13.5809 4.7043 11.9256 4.70304C10.5167 4.70198 10.4066 4.69821 10.2946 4.64715C10.1365 4.57513 10.0367 4.41476 10.0367 4.23267C10.0367 4.11091 10.0945 3.99189 10.5811 3.1122C10.8804 2.57087 11.1466 2.06174 11.1724 1.9808C11.3293 1.4888 11.2121 0.975202 10.8545 0.587682C10.6376 0.352645 10.429 0.249048 9.89422 0.110692C9.41101 -0.0143021 9.31789 -0.024191 9.18226 0.0351128ZM0.704092 3.78876C0.441143 3.85256 0.198202 4.05155 0.0726388 4.30586L0 4.45302V8.47037V12.4877L0.0662139 12.6211C0.170361 12.8308 0.288766 12.9547 0.489197 13.0637L0.674754 13.1646L2.20762 13.1732L3.74049 13.1818V8.4716V3.76139L2.26629 3.76439C1.45547 3.76607 0.752498 3.77701 0.704092 3.78876Z" fill="black"/></svg>
                                    p 13256
                                .appraisals
                                    <svg width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.04167 0.0143167C4.56512 0.157019 2.2277 1.48354 0.364194 3.80386C-0.122376 4.4097 -0.121995 4.51734 0.368939 5.13027C2.22861 7.45213 4.57408 8.7779 7.06232 8.91369C9.87851 9.0674 12.5395 7.73681 14.6358 5.12661C15.1224 4.52077 15.122 4.41313 14.6311 3.8002C13.2726 2.10412 11.6564 0.938805 9.86905 0.366766C9.31383 0.189062 8.64118 0.0592186 8.1151 0.0281417C7.54098 -0.00574716 7.4172 -0.00732884 7.04167 0.0143167ZM8.11952 1.37801C8.96135 1.53647 9.77029 2.10907 10.2084 2.85664C10.7372 3.75881 10.7929 4.85011 10.3574 5.77225C10.1875 6.13211 10.0251 6.36617 9.74533 6.65447C8.17962 8.26799 5.51204 7.77468 4.60399 5.70368C4.27629 4.95631 4.27011 4.04337 4.58749 3.26433C4.89627 2.50642 5.56772 1.84279 6.33041 1.54177C6.91042 1.31287 7.49101 1.25971 8.11952 1.37801ZM7.19245 2.79452C6.71613 2.89753 6.29453 3.19465 6.05309 3.59751C5.87559 3.89366 5.81605 4.11354 5.8181 4.46523C5.82012 4.80459 5.85032 4.94146 5.98596 5.22602C6.11062 5.48746 6.47467 5.85037 6.74159 5.97928C7.68154 6.43316 8.77483 5.97148 9.1131 4.97781C9.20988 4.69355 9.21257 4.2479 9.11931 3.95142C8.9064 3.27479 8.28498 2.8033 7.57323 2.77838C7.42824 2.77331 7.25689 2.78058 7.19245 2.79452Z" fill="black"/></svg>
                                    p 35439
                            .writeMoreButton
                                a( href="#" ) Читать далее
                                    <svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.5303 6.53033C20.8232 6.23744 20.8232 5.76256 20.5303 5.46967L15.7574 0.696699C15.4645 0.403806 14.9896 0.403806 14.6967 0.696699C14.4038 0.989593 14.4038 1.46447 14.6967 1.75736L18.9393 6L14.6967 10.2426C14.4038 10.5355 14.4038 11.0104 14.6967 11.3033C14.9896 11.5962 15.4645 11.5962 15.7574 11.3033L20.5303 6.53033ZM0 6.75H20V5.25H0V6.75Z" fill="#E1400B"/></svg>
                .newsPageLineFence
                .newsPageLineCard
                    .newsPageLineWideCard.newsCard
                        .newsCardInfo
                            .categoryButton
                                a( href="#" ) здоровье
                                .dateBlock
                                    p 20 сентября, 2021

                            .descriptionArea
                                .latestNewsHeading
                                    a( href="#" ) Путин поставил на место Медведева и обратился...
                                .plainText
                                    p  Президент РФ Владимир Путин высказался против принудительной вакцинации от коронавируса, считает, что она должна быть сугубо добровольной.
                                        | #[br]
                                        | #[br] Президент РФ Владимир Путин высказался против принудительной вакцинации от коронавируса, считает, что она должна быть сугубо добровольной.
                                        | #[br]
                                        | #[br] принудительной вакцинации от коронавируса
                        .newsCardNavigation
                            .coverageInformation
                                .views
                                    <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.18226 0.0351128C9.09513 0.0731966 5.32909 4.23808 5.12414 4.52298C4.97796 4.72623 4.83462 5.02566 4.76019 5.28324L4.69394 5.51254V8.35264C4.69394 11.4378 4.68552 11.2613 4.85454 11.7139C5.06345 12.2734 5.63713 12.8237 6.23133 13.0347C6.64489 13.1815 6.70383 13.184 9.49057 13.1732C11.8001 13.1643 12.1048 13.1578 12.2487 13.1146C12.8746 12.9266 13.3275 12.6076 13.6408 12.1341C13.8873 11.7615 13.9136 11.6649 14.4791 9.05899C14.9941 6.6856 15.0118 6.59293 14.9968 6.35133C14.957 5.71223 14.5822 5.14889 14.0157 4.87656C13.6734 4.71198 13.5809 4.7043 11.9256 4.70304C10.5167 4.70198 10.4066 4.69821 10.2946 4.64715C10.1365 4.57513 10.0367 4.41476 10.0367 4.23267C10.0367 4.11091 10.0945 3.99189 10.5811 3.1122C10.8804 2.57087 11.1466 2.06174 11.1724 1.9808C11.3293 1.4888 11.2121 0.975202 10.8545 0.587682C10.6376 0.352645 10.429 0.249048 9.89422 0.110692C9.41101 -0.0143021 9.31789 -0.024191 9.18226 0.0351128ZM0.704092 3.78876C0.441143 3.85256 0.198202 4.05155 0.0726388 4.30586L0 4.45302V8.47037V12.4877L0.0662139 12.6211C0.170361 12.8308 0.288766 12.9547 0.489197 13.0637L0.674754 13.1646L2.20762 13.1732L3.74049 13.1818V8.4716V3.76139L2.26629 3.76439C1.45547 3.76607 0.752498 3.77701 0.704092 3.78876Z" fill="black"/></svg>
                                    p 13256
                                .appraisals
                                    <svg width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.04167 0.0143167C4.56512 0.157019 2.2277 1.48354 0.364194 3.80386C-0.122376 4.4097 -0.121995 4.51734 0.368939 5.13027C2.22861 7.45213 4.57408 8.7779 7.06232 8.91369C9.87851 9.0674 12.5395 7.73681 14.6358 5.12661C15.1224 4.52077 15.122 4.41313 14.6311 3.8002C13.2726 2.10412 11.6564 0.938805 9.86905 0.366766C9.31383 0.189062 8.64118 0.0592186 8.1151 0.0281417C7.54098 -0.00574716 7.4172 -0.00732884 7.04167 0.0143167ZM8.11952 1.37801C8.96135 1.53647 9.77029 2.10907 10.2084 2.85664C10.7372 3.75881 10.7929 4.85011 10.3574 5.77225C10.1875 6.13211 10.0251 6.36617 9.74533 6.65447C8.17962 8.26799 5.51204 7.77468 4.60399 5.70368C4.27629 4.95631 4.27011 4.04337 4.58749 3.26433C4.89627 2.50642 5.56772 1.84279 6.33041 1.54177C6.91042 1.31287 7.49101 1.25971 8.11952 1.37801ZM7.19245 2.79452C6.71613 2.89753 6.29453 3.19465 6.05309 3.59751C5.87559 3.89366 5.81605 4.11354 5.8181 4.46523C5.82012 4.80459 5.85032 4.94146 5.98596 5.22602C6.11062 5.48746 6.47467 5.85037 6.74159 5.97928C7.68154 6.43316 8.77483 5.97148 9.1131 4.97781C9.20988 4.69355 9.21257 4.2479 9.11931 3.95142C8.9064 3.27479 8.28498 2.8033 7.57323 2.77838C7.42824 2.77331 7.25689 2.78058 7.19245 2.79452Z" fill="black"/></svg>
                                    p 35439
                            .writeMoreButton
                                a( href="#" ) Читать далее
                                    <svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.5303 6.53033C20.8232 6.23744 20.8232 5.76256 20.5303 5.46967L15.7574 0.696699C15.4645 0.403806 14.9896 0.403806 14.6967 0.696699C14.4038 0.989593 14.4038 1.46447 14.6967 1.75736L18.9393 6L14.6967 10.2426C14.4038 10.5355 14.4038 11.0104 14.6967 11.3033C14.9896 11.5962 15.4645 11.5962 15.7574 11.3033L20.5303 6.53033ZM0 6.75H20V5.25H0V6.75Z" fill="#E1400B"/></svg>
                .newsPageLineFence
                .newsPageLineCard
                    .newsPageLineSlimeCard.newsCard
                        .newsCardInfo
                            .categoryButton
                                a( href="#" ) здоровье
                                .dateBlock
                                    p 20 сентября, 2021

                            .descriptionArea
                                .latestNewsHeading
                                    a( href="#" ) Охранник разбогател за сутки абсолютно законно! Выяснилось, что так может каждый...
                                .plainText
                                    p Президент РФ Владимир Путин высказался против принудительной вакцинации от коронавируса...
                                        | #[br]
                                        | #[br]Президент РФ Владимир Путин
                        .newsCardNavigation
                            .coverageInformation
                                .views
                                    <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.18226 0.0351128C9.09513 0.0731966 5.32909 4.23808 5.12414 4.52298C4.97796 4.72623 4.83462 5.02566 4.76019 5.28324L4.69394 5.51254V8.35264C4.69394 11.4378 4.68552 11.2613 4.85454 11.7139C5.06345 12.2734 5.63713 12.8237 6.23133 13.0347C6.64489 13.1815 6.70383 13.184 9.49057 13.1732C11.8001 13.1643 12.1048 13.1578 12.2487 13.1146C12.8746 12.9266 13.3275 12.6076 13.6408 12.1341C13.8873 11.7615 13.9136 11.6649 14.4791 9.05899C14.9941 6.6856 15.0118 6.59293 14.9968 6.35133C14.957 5.71223 14.5822 5.14889 14.0157 4.87656C13.6734 4.71198 13.5809 4.7043 11.9256 4.70304C10.5167 4.70198 10.4066 4.69821 10.2946 4.64715C10.1365 4.57513 10.0367 4.41476 10.0367 4.23267C10.0367 4.11091 10.0945 3.99189 10.5811 3.1122C10.8804 2.57087 11.1466 2.06174 11.1724 1.9808C11.3293 1.4888 11.2121 0.975202 10.8545 0.587682C10.6376 0.352645 10.429 0.249048 9.89422 0.110692C9.41101 -0.0143021 9.31789 -0.024191 9.18226 0.0351128ZM0.704092 3.78876C0.441143 3.85256 0.198202 4.05155 0.0726388 4.30586L0 4.45302V8.47037V12.4877L0.0662139 12.6211C0.170361 12.8308 0.288766 12.9547 0.489197 13.0637L0.674754 13.1646L2.20762 13.1732L3.74049 13.1818V8.4716V3.76139L2.26629 3.76439C1.45547 3.76607 0.752498 3.77701 0.704092 3.78876Z" fill="black"/></svg>
                                    p 13256
                                .appraisals
                                    <svg width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.04167 0.0143167C4.56512 0.157019 2.2277 1.48354 0.364194 3.80386C-0.122376 4.4097 -0.121995 4.51734 0.368939 5.13027C2.22861 7.45213 4.57408 8.7779 7.06232 8.91369C9.87851 9.0674 12.5395 7.73681 14.6358 5.12661C15.1224 4.52077 15.122 4.41313 14.6311 3.8002C13.2726 2.10412 11.6564 0.938805 9.86905 0.366766C9.31383 0.189062 8.64118 0.0592186 8.1151 0.0281417C7.54098 -0.00574716 7.4172 -0.00732884 7.04167 0.0143167ZM8.11952 1.37801C8.96135 1.53647 9.77029 2.10907 10.2084 2.85664C10.7372 3.75881 10.7929 4.85011 10.3574 5.77225C10.1875 6.13211 10.0251 6.36617 9.74533 6.65447C8.17962 8.26799 5.51204 7.77468 4.60399 5.70368C4.27629 4.95631 4.27011 4.04337 4.58749 3.26433C4.89627 2.50642 5.56772 1.84279 6.33041 1.54177C6.91042 1.31287 7.49101 1.25971 8.11952 1.37801ZM7.19245 2.79452C6.71613 2.89753 6.29453 3.19465 6.05309 3.59751C5.87559 3.89366 5.81605 4.11354 5.8181 4.46523C5.82012 4.80459 5.85032 4.94146 5.98596 5.22602C6.11062 5.48746 6.47467 5.85037 6.74159 5.97928C7.68154 6.43316 8.77483 5.97148 9.1131 4.97781C9.20988 4.69355 9.21257 4.2479 9.11931 3.95142C8.9064 3.27479 8.28498 2.8033 7.57323 2.77838C7.42824 2.77331 7.25689 2.78058 7.19245 2.79452Z" fill="black"/></svg>
                                    p 35439
                            .writeMoreButton
                                a( href="#" ) Читать далее
                                    <svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.5303 6.53033C20.8232 6.23744 20.8232 5.76256 20.5303 5.46967L15.7574 0.696699C15.4645 0.403806 14.9896 0.403806 14.6967 0.696699C14.4038 0.989593 14.4038 1.46447 14.6967 1.75736L18.9393 6L14.6967 10.2426C14.4038 10.5355 14.4038 11.0104 14.6967 11.3033C14.9896 11.5962 15.4645 11.5962 15.7574 11.3033L20.5303 6.53033ZM0 6.75H20V5.25H0V6.75Z" fill="#E1400B"/></svg>
                .newsPageLineFence
                .newsPageLineCard
                    .newsPageLineWideCardWithImage.newsCard
                        .newsCardInfo
                            .categoryButton
                                a( href="#" ) здоровье
                                .dateBlock
                                    p 20 сентября, 2021
                            .newsPageLineWideCardWithImageImg
                                a( href="#" )
                                    img(src="assets/img/tsar.png")
                            .categoryButtonMobile.categoryButton
                                a( href="#" ) здоровье
                            .dateBlockMobile.dateBlock
                                p 20 сентября, 2021
                            .descriptionArea
                                .latestNewsHeading
                                    a( href="#" ) Скандал в студии! От гипертоников скрывали главное средство от давления! Им оказалось...
                        .newsCardNavigation
                            .coverageInformation
                                .views
                                    <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.18226 0.0351128C9.09513 0.0731966 5.32909 4.23808 5.12414 4.52298C4.97796 4.72623 4.83462 5.02566 4.76019 5.28324L4.69394 5.51254V8.35264C4.69394 11.4378 4.68552 11.2613 4.85454 11.7139C5.06345 12.2734 5.63713 12.8237 6.23133 13.0347C6.64489 13.1815 6.70383 13.184 9.49057 13.1732C11.8001 13.1643 12.1048 13.1578 12.2487 13.1146C12.8746 12.9266 13.3275 12.6076 13.6408 12.1341C13.8873 11.7615 13.9136 11.6649 14.4791 9.05899C14.9941 6.6856 15.0118 6.59293 14.9968 6.35133C14.957 5.71223 14.5822 5.14889 14.0157 4.87656C13.6734 4.71198 13.5809 4.7043 11.9256 4.70304C10.5167 4.70198 10.4066 4.69821 10.2946 4.64715C10.1365 4.57513 10.0367 4.41476 10.0367 4.23267C10.0367 4.11091 10.0945 3.99189 10.5811 3.1122C10.8804 2.57087 11.1466 2.06174 11.1724 1.9808C11.3293 1.4888 11.2121 0.975202 10.8545 0.587682C10.6376 0.352645 10.429 0.249048 9.89422 0.110692C9.41101 -0.0143021 9.31789 -0.024191 9.18226 0.0351128ZM0.704092 3.78876C0.441143 3.85256 0.198202 4.05155 0.0726388 4.30586L0 4.45302V8.47037V12.4877L0.0662139 12.6211C0.170361 12.8308 0.288766 12.9547 0.489197 13.0637L0.674754 13.1646L2.20762 13.1732L3.74049 13.1818V8.4716V3.76139L2.26629 3.76439C1.45547 3.76607 0.752498 3.77701 0.704092 3.78876Z" fill="black"/></svg>
                                    p 13256
                                .appraisals
                                    <svg width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.04167 0.0143167C4.56512 0.157019 2.2277 1.48354 0.364194 3.80386C-0.122376 4.4097 -0.121995 4.51734 0.368939 5.13027C2.22861 7.45213 4.57408 8.7779 7.06232 8.91369C9.87851 9.0674 12.5395 7.73681 14.6358 5.12661C15.1224 4.52077 15.122 4.41313 14.6311 3.8002C13.2726 2.10412 11.6564 0.938805 9.86905 0.366766C9.31383 0.189062 8.64118 0.0592186 8.1151 0.0281417C7.54098 -0.00574716 7.4172 -0.00732884 7.04167 0.0143167ZM8.11952 1.37801C8.96135 1.53647 9.77029 2.10907 10.2084 2.85664C10.7372 3.75881 10.7929 4.85011 10.3574 5.77225C10.1875 6.13211 10.0251 6.36617 9.74533 6.65447C8.17962 8.26799 5.51204 7.77468 4.60399 5.70368C4.27629 4.95631 4.27011 4.04337 4.58749 3.26433C4.89627 2.50642 5.56772 1.84279 6.33041 1.54177C6.91042 1.31287 7.49101 1.25971 8.11952 1.37801ZM7.19245 2.79452C6.71613 2.89753 6.29453 3.19465 6.05309 3.59751C5.87559 3.89366 5.81605 4.11354 5.8181 4.46523C5.82012 4.80459 5.85032 4.94146 5.98596 5.22602C6.11062 5.48746 6.47467 5.85037 6.74159 5.97928C7.68154 6.43316 8.77483 5.97148 9.1131 4.97781C9.20988 4.69355 9.21257 4.2479 9.11931 3.95142C8.9064 3.27479 8.28498 2.8033 7.57323 2.77838C7.42824 2.77331 7.25689 2.78058 7.19245 2.79452Z" fill="black"/></svg>
                                    p 35439
                            .writeMoreButton
                                a( href="#" ) Читать далее
                                    <svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.5303 6.53033C20.8232 6.23744 20.8232 5.76256 20.5303 5.46967L15.7574 0.696699C15.4645 0.403806 14.9896 0.403806 14.6967 0.696699C14.4038 0.989593 14.4038 1.46447 14.6967 1.75736L18.9393 6L14.6967 10.2426C14.4038 10.5355 14.4038 11.0104 14.6967 11.3033C14.9896 11.5962 15.4645 11.5962 15.7574 11.3033L20.5303 6.53033ZM0 6.75H20V5.25H0V6.75Z" fill="#E1400B"/></svg>
        .newsPage
            .newsPageLine.mainPageLine
                .newsPageLineCard
                    .newsPageLineSlimCardWithImage.newsCard
                        .newsCardInfo
                            .categoryButton
                                a( href="#" ) здоровье
                                .dateBlock
                                    p 20 сентября, 2021
                            .newsPageLineSlimCardWithImageImg
                                a( href="#" )
                                    img(src="assets/img/tsar.png")
                            .categoryButtonMobile.categoryButton
                                a( href="#" ) здоровье
                            .dateBlockMobile.dateBlock
                                p 20 сентября, 2021
                            .descriptionArea
                                .latestNewsHeading
                                    a( href="#" ) Пенсионеры, чистите сосуды дома! Утром выйдет до 2-х кг тромбов! На ночь в стакан теплой воды...
                        .newsCardNavigation
                            .coverageInformation
                                .views
                                    <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.18226 0.0351128C9.09513 0.0731966 5.32909 4.23808 5.12414 4.52298C4.97796 4.72623 4.83462 5.02566 4.76019 5.28324L4.69394 5.51254V8.35264C4.69394 11.4378 4.68552 11.2613 4.85454 11.7139C5.06345 12.2734 5.63713 12.8237 6.23133 13.0347C6.64489 13.1815 6.70383 13.184 9.49057 13.1732C11.8001 13.1643 12.1048 13.1578 12.2487 13.1146C12.8746 12.9266 13.3275 12.6076 13.6408 12.1341C13.8873 11.7615 13.9136 11.6649 14.4791 9.05899C14.9941 6.6856 15.0118 6.59293 14.9968 6.35133C14.957 5.71223 14.5822 5.14889 14.0157 4.87656C13.6734 4.71198 13.5809 4.7043 11.9256 4.70304C10.5167 4.70198 10.4066 4.69821 10.2946 4.64715C10.1365 4.57513 10.0367 4.41476 10.0367 4.23267C10.0367 4.11091 10.0945 3.99189 10.5811 3.1122C10.8804 2.57087 11.1466 2.06174 11.1724 1.9808C11.3293 1.4888 11.2121 0.975202 10.8545 0.587682C10.6376 0.352645 10.429 0.249048 9.89422 0.110692C9.41101 -0.0143021 9.31789 -0.024191 9.18226 0.0351128ZM0.704092 3.78876C0.441143 3.85256 0.198202 4.05155 0.0726388 4.30586L0 4.45302V8.47037V12.4877L0.0662139 12.6211C0.170361 12.8308 0.288766 12.9547 0.489197 13.0637L0.674754 13.1646L2.20762 13.1732L3.74049 13.1818V8.4716V3.76139L2.26629 3.76439C1.45547 3.76607 0.752498 3.77701 0.704092 3.78876Z" fill="black"/></svg>
                                    p 13256
                                .appraisals
                                    <svg width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.04167 0.0143167C4.56512 0.157019 2.2277 1.48354 0.364194 3.80386C-0.122376 4.4097 -0.121995 4.51734 0.368939 5.13027C2.22861 7.45213 4.57408 8.7779 7.06232 8.91369C9.87851 9.0674 12.5395 7.73681 14.6358 5.12661C15.1224 4.52077 15.122 4.41313 14.6311 3.8002C13.2726 2.10412 11.6564 0.938805 9.86905 0.366766C9.31383 0.189062 8.64118 0.0592186 8.1151 0.0281417C7.54098 -0.00574716 7.4172 -0.00732884 7.04167 0.0143167ZM8.11952 1.37801C8.96135 1.53647 9.77029 2.10907 10.2084 2.85664C10.7372 3.75881 10.7929 4.85011 10.3574 5.77225C10.1875 6.13211 10.0251 6.36617 9.74533 6.65447C8.17962 8.26799 5.51204 7.77468 4.60399 5.70368C4.27629 4.95631 4.27011 4.04337 4.58749 3.26433C4.89627 2.50642 5.56772 1.84279 6.33041 1.54177C6.91042 1.31287 7.49101 1.25971 8.11952 1.37801ZM7.19245 2.79452C6.71613 2.89753 6.29453 3.19465 6.05309 3.59751C5.87559 3.89366 5.81605 4.11354 5.8181 4.46523C5.82012 4.80459 5.85032 4.94146 5.98596 5.22602C6.11062 5.48746 6.47467 5.85037 6.74159 5.97928C7.68154 6.43316 8.77483 5.97148 9.1131 4.97781C9.20988 4.69355 9.21257 4.2479 9.11931 3.95142C8.9064 3.27479 8.28498 2.8033 7.57323 2.77838C7.42824 2.77331 7.25689 2.78058 7.19245 2.79452Z" fill="black"/></svg>
                                    p 35439
                            .writeMoreButton
                                a( href="#" ) Читать далее
                                    <svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.5303 6.53033C20.8232 6.23744 20.8232 5.76256 20.5303 5.46967L15.7574 0.696699C15.4645 0.403806 14.9896 0.403806 14.6967 0.696699C14.4038 0.989593 14.4038 1.46447 14.6967 1.75736L18.9393 6L14.6967 10.2426C14.4038 10.5355 14.4038 11.0104 14.6967 11.3033C14.9896 11.5962 15.4645 11.5962 15.7574 11.3033L20.5303 6.53033ZM0 6.75H20V5.25H0V6.75Z" fill="#E1400B"/></svg>
                .newsPageLineFence
                .newsPageLineCard
                    .newsPageLineWideCard.newsCard
                        .newsCardInfo
                            .categoryButton
                                a( href="#" ) здоровье
                                .dateBlock
                                    p 20 сентября, 2021

                            .descriptionArea
                                .latestNewsHeading
                                    a( href="#" ) Путин поставил на место Медведева и обратился...
                                .plainText
                                    p  Президент РФ Владимир Путин высказался против принудительной вакцинации от коронавируса, считает, что она должна быть сугубо добровольной.
                                        | #[br]
                                        | #[br] Президент РФ Владимир Путин высказался против принудительной вакцинации от коронавируса, считает, что она должна быть сугубо добровольной.
                                        | #[br]
                                        | #[br] принудительной вакцинации от коронавируса
                        .newsCardNavigation
                            .coverageInformation
                                .views
                                    <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.18226 0.0351128C9.09513 0.0731966 5.32909 4.23808 5.12414 4.52298C4.97796 4.72623 4.83462 5.02566 4.76019 5.28324L4.69394 5.51254V8.35264C4.69394 11.4378 4.68552 11.2613 4.85454 11.7139C5.06345 12.2734 5.63713 12.8237 6.23133 13.0347C6.64489 13.1815 6.70383 13.184 9.49057 13.1732C11.8001 13.1643 12.1048 13.1578 12.2487 13.1146C12.8746 12.9266 13.3275 12.6076 13.6408 12.1341C13.8873 11.7615 13.9136 11.6649 14.4791 9.05899C14.9941 6.6856 15.0118 6.59293 14.9968 6.35133C14.957 5.71223 14.5822 5.14889 14.0157 4.87656C13.6734 4.71198 13.5809 4.7043 11.9256 4.70304C10.5167 4.70198 10.4066 4.69821 10.2946 4.64715C10.1365 4.57513 10.0367 4.41476 10.0367 4.23267C10.0367 4.11091 10.0945 3.99189 10.5811 3.1122C10.8804 2.57087 11.1466 2.06174 11.1724 1.9808C11.3293 1.4888 11.2121 0.975202 10.8545 0.587682C10.6376 0.352645 10.429 0.249048 9.89422 0.110692C9.41101 -0.0143021 9.31789 -0.024191 9.18226 0.0351128ZM0.704092 3.78876C0.441143 3.85256 0.198202 4.05155 0.0726388 4.30586L0 4.45302V8.47037V12.4877L0.0662139 12.6211C0.170361 12.8308 0.288766 12.9547 0.489197 13.0637L0.674754 13.1646L2.20762 13.1732L3.74049 13.1818V8.4716V3.76139L2.26629 3.76439C1.45547 3.76607 0.752498 3.77701 0.704092 3.78876Z" fill="black"/></svg>
                                    p 13256
                                .appraisals
                                    <svg width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.04167 0.0143167C4.56512 0.157019 2.2277 1.48354 0.364194 3.80386C-0.122376 4.4097 -0.121995 4.51734 0.368939 5.13027C2.22861 7.45213 4.57408 8.7779 7.06232 8.91369C9.87851 9.0674 12.5395 7.73681 14.6358 5.12661C15.1224 4.52077 15.122 4.41313 14.6311 3.8002C13.2726 2.10412 11.6564 0.938805 9.86905 0.366766C9.31383 0.189062 8.64118 0.0592186 8.1151 0.0281417C7.54098 -0.00574716 7.4172 -0.00732884 7.04167 0.0143167ZM8.11952 1.37801C8.96135 1.53647 9.77029 2.10907 10.2084 2.85664C10.7372 3.75881 10.7929 4.85011 10.3574 5.77225C10.1875 6.13211 10.0251 6.36617 9.74533 6.65447C8.17962 8.26799 5.51204 7.77468 4.60399 5.70368C4.27629 4.95631 4.27011 4.04337 4.58749 3.26433C4.89627 2.50642 5.56772 1.84279 6.33041 1.54177C6.91042 1.31287 7.49101 1.25971 8.11952 1.37801ZM7.19245 2.79452C6.71613 2.89753 6.29453 3.19465 6.05309 3.59751C5.87559 3.89366 5.81605 4.11354 5.8181 4.46523C5.82012 4.80459 5.85032 4.94146 5.98596 5.22602C6.11062 5.48746 6.47467 5.85037 6.74159 5.97928C7.68154 6.43316 8.77483 5.97148 9.1131 4.97781C9.20988 4.69355 9.21257 4.2479 9.11931 3.95142C8.9064 3.27479 8.28498 2.8033 7.57323 2.77838C7.42824 2.77331 7.25689 2.78058 7.19245 2.79452Z" fill="black"/></svg>
                                    p 35439
                            .writeMoreButton
                                a( href="#" ) Читать далее
                                    <svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.5303 6.53033C20.8232 6.23744 20.8232 5.76256 20.5303 5.46967L15.7574 0.696699C15.4645 0.403806 14.9896 0.403806 14.6967 0.696699C14.4038 0.989593 14.4038 1.46447 14.6967 1.75736L18.9393 6L14.6967 10.2426C14.4038 10.5355 14.4038 11.0104 14.6967 11.3033C14.9896 11.5962 15.4645 11.5962 15.7574 11.3033L20.5303 6.53033ZM0 6.75H20V5.25H0V6.75Z" fill="#E1400B"/></svg>
                .newsPageLineFence
                .newsPageLineCard
                    .newsPageLineSlimeCard.newsCard
                        .newsCardInfo
                            .categoryButton
                                a( href="#" ) здоровье
                                .dateBlock
                                    p 20 сентября, 2021

                            .descriptionArea
                                .latestNewsHeading
                                    a( href="#" ) Охранник разбогател за сутки абсолютно законно! Выяснилось, что так может каждый...
                                .plainText
                                    p Президент РФ Владимир Путин высказался против принудительной вакцинации от коронавируса...
                                        | #[br]
                                        | #[br]Президент РФ Владимир Путин
                        .newsCardNavigation
                            .coverageInformation
                                .views
                                    <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.18226 0.0351128C9.09513 0.0731966 5.32909 4.23808 5.12414 4.52298C4.97796 4.72623 4.83462 5.02566 4.76019 5.28324L4.69394 5.51254V8.35264C4.69394 11.4378 4.68552 11.2613 4.85454 11.7139C5.06345 12.2734 5.63713 12.8237 6.23133 13.0347C6.64489 13.1815 6.70383 13.184 9.49057 13.1732C11.8001 13.1643 12.1048 13.1578 12.2487 13.1146C12.8746 12.9266 13.3275 12.6076 13.6408 12.1341C13.8873 11.7615 13.9136 11.6649 14.4791 9.05899C14.9941 6.6856 15.0118 6.59293 14.9968 6.35133C14.957 5.71223 14.5822 5.14889 14.0157 4.87656C13.6734 4.71198 13.5809 4.7043 11.9256 4.70304C10.5167 4.70198 10.4066 4.69821 10.2946 4.64715C10.1365 4.57513 10.0367 4.41476 10.0367 4.23267C10.0367 4.11091 10.0945 3.99189 10.5811 3.1122C10.8804 2.57087 11.1466 2.06174 11.1724 1.9808C11.3293 1.4888 11.2121 0.975202 10.8545 0.587682C10.6376 0.352645 10.429 0.249048 9.89422 0.110692C9.41101 -0.0143021 9.31789 -0.024191 9.18226 0.0351128ZM0.704092 3.78876C0.441143 3.85256 0.198202 4.05155 0.0726388 4.30586L0 4.45302V8.47037V12.4877L0.0662139 12.6211C0.170361 12.8308 0.288766 12.9547 0.489197 13.0637L0.674754 13.1646L2.20762 13.1732L3.74049 13.1818V8.4716V3.76139L2.26629 3.76439C1.45547 3.76607 0.752498 3.77701 0.704092 3.78876Z" fill="black"/></svg>
                                    p 13256
                                .appraisals
                                    <svg width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.04167 0.0143167C4.56512 0.157019 2.2277 1.48354 0.364194 3.80386C-0.122376 4.4097 -0.121995 4.51734 0.368939 5.13027C2.22861 7.45213 4.57408 8.7779 7.06232 8.91369C9.87851 9.0674 12.5395 7.73681 14.6358 5.12661C15.1224 4.52077 15.122 4.41313 14.6311 3.8002C13.2726 2.10412 11.6564 0.938805 9.86905 0.366766C9.31383 0.189062 8.64118 0.0592186 8.1151 0.0281417C7.54098 -0.00574716 7.4172 -0.00732884 7.04167 0.0143167ZM8.11952 1.37801C8.96135 1.53647 9.77029 2.10907 10.2084 2.85664C10.7372 3.75881 10.7929 4.85011 10.3574 5.77225C10.1875 6.13211 10.0251 6.36617 9.74533 6.65447C8.17962 8.26799 5.51204 7.77468 4.60399 5.70368C4.27629 4.95631 4.27011 4.04337 4.58749 3.26433C4.89627 2.50642 5.56772 1.84279 6.33041 1.54177C6.91042 1.31287 7.49101 1.25971 8.11952 1.37801ZM7.19245 2.79452C6.71613 2.89753 6.29453 3.19465 6.05309 3.59751C5.87559 3.89366 5.81605 4.11354 5.8181 4.46523C5.82012 4.80459 5.85032 4.94146 5.98596 5.22602C6.11062 5.48746 6.47467 5.85037 6.74159 5.97928C7.68154 6.43316 8.77483 5.97148 9.1131 4.97781C9.20988 4.69355 9.21257 4.2479 9.11931 3.95142C8.9064 3.27479 8.28498 2.8033 7.57323 2.77838C7.42824 2.77331 7.25689 2.78058 7.19245 2.79452Z" fill="black"/></svg>
                                    p 35439
                            .writeMoreButton
                                a( href="#" ) Читать далее
                                    <svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.5303 6.53033C20.8232 6.23744 20.8232 5.76256 20.5303 5.46967L15.7574 0.696699C15.4645 0.403806 14.9896 0.403806 14.6967 0.696699C14.4038 0.989593 14.4038 1.46447 14.6967 1.75736L18.9393 6L14.6967 10.2426C14.4038 10.5355 14.4038 11.0104 14.6967 11.3033C14.9896 11.5962 15.4645 11.5962 15.7574 11.3033L20.5303 6.53033ZM0 6.75H20V5.25H0V6.75Z" fill="#E1400B"/></svg>
                .newsPageLineFence
                .newsPageLineCard
                    .newsPageLineWideCardWithImage.newsCard
                        .newsCardInfo
                            .categoryButton
                                a( href="#" ) здоровье
                                .dateBlock
                                    p 20 сентября, 2021
                            .newsPageLineWideCardWithImageImg
                                a( href="#" )
                                    img(src="assets/img/tsar.png")
                            .categoryButtonMobile.categoryButton
                                a( href="#" ) здоровье
                            .dateBlockMobile.dateBlock
                                p 20 сентября, 2021
                            .descriptionArea
                                .latestNewsHeading
                                    a( href="#" ) Скандал в студии! От гипертоников скрывали главное средство от давления! Им оказалось...
                        .newsCardNavigation
                            .coverageInformation
                                .views
                                    <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.18226 0.0351128C9.09513 0.0731966 5.32909 4.23808 5.12414 4.52298C4.97796 4.72623 4.83462 5.02566 4.76019 5.28324L4.69394 5.51254V8.35264C4.69394 11.4378 4.68552 11.2613 4.85454 11.7139C5.06345 12.2734 5.63713 12.8237 6.23133 13.0347C6.64489 13.1815 6.70383 13.184 9.49057 13.1732C11.8001 13.1643 12.1048 13.1578 12.2487 13.1146C12.8746 12.9266 13.3275 12.6076 13.6408 12.1341C13.8873 11.7615 13.9136 11.6649 14.4791 9.05899C14.9941 6.6856 15.0118 6.59293 14.9968 6.35133C14.957 5.71223 14.5822 5.14889 14.0157 4.87656C13.6734 4.71198 13.5809 4.7043 11.9256 4.70304C10.5167 4.70198 10.4066 4.69821 10.2946 4.64715C10.1365 4.57513 10.0367 4.41476 10.0367 4.23267C10.0367 4.11091 10.0945 3.99189 10.5811 3.1122C10.8804 2.57087 11.1466 2.06174 11.1724 1.9808C11.3293 1.4888 11.2121 0.975202 10.8545 0.587682C10.6376 0.352645 10.429 0.249048 9.89422 0.110692C9.41101 -0.0143021 9.31789 -0.024191 9.18226 0.0351128ZM0.704092 3.78876C0.441143 3.85256 0.198202 4.05155 0.0726388 4.30586L0 4.45302V8.47037V12.4877L0.0662139 12.6211C0.170361 12.8308 0.288766 12.9547 0.489197 13.0637L0.674754 13.1646L2.20762 13.1732L3.74049 13.1818V8.4716V3.76139L2.26629 3.76439C1.45547 3.76607 0.752498 3.77701 0.704092 3.78876Z" fill="black"/></svg>
                                    p 13256
                                .appraisals
                                    <svg width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.04167 0.0143167C4.56512 0.157019 2.2277 1.48354 0.364194 3.80386C-0.122376 4.4097 -0.121995 4.51734 0.368939 5.13027C2.22861 7.45213 4.57408 8.7779 7.06232 8.91369C9.87851 9.0674 12.5395 7.73681 14.6358 5.12661C15.1224 4.52077 15.122 4.41313 14.6311 3.8002C13.2726 2.10412 11.6564 0.938805 9.86905 0.366766C9.31383 0.189062 8.64118 0.0592186 8.1151 0.0281417C7.54098 -0.00574716 7.4172 -0.00732884 7.04167 0.0143167ZM8.11952 1.37801C8.96135 1.53647 9.77029 2.10907 10.2084 2.85664C10.7372 3.75881 10.7929 4.85011 10.3574 5.77225C10.1875 6.13211 10.0251 6.36617 9.74533 6.65447C8.17962 8.26799 5.51204 7.77468 4.60399 5.70368C4.27629 4.95631 4.27011 4.04337 4.58749 3.26433C4.89627 2.50642 5.56772 1.84279 6.33041 1.54177C6.91042 1.31287 7.49101 1.25971 8.11952 1.37801ZM7.19245 2.79452C6.71613 2.89753 6.29453 3.19465 6.05309 3.59751C5.87559 3.89366 5.81605 4.11354 5.8181 4.46523C5.82012 4.80459 5.85032 4.94146 5.98596 5.22602C6.11062 5.48746 6.47467 5.85037 6.74159 5.97928C7.68154 6.43316 8.77483 5.97148 9.1131 4.97781C9.20988 4.69355 9.21257 4.2479 9.11931 3.95142C8.9064 3.27479 8.28498 2.8033 7.57323 2.77838C7.42824 2.77331 7.25689 2.78058 7.19245 2.79452Z" fill="black"/></svg>
                                    p 35439
                            .writeMoreButton
                                a( href="#" ) Читать далее
                                    <svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.5303 6.53033C20.8232 6.23744 20.8232 5.76256 20.5303 5.46967L15.7574 0.696699C15.4645 0.403806 14.9896 0.403806 14.6967 0.696699C14.4038 0.989593 14.4038 1.46447 14.6967 1.75736L18.9393 6L14.6967 10.2426C14.4038 10.5355 14.4038 11.0104 14.6967 11.3033C14.9896 11.5962 15.4645 11.5962 15.7574 11.3033L20.5303 6.53033ZM0 6.75H20V5.25H0V6.75Z" fill="#E1400B"/></svg>