.container
  .menu
    .menuHeader
      .menuRate
        .menuRateDollar
          <svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.98 11.31C10.98 12.294 10.62 13.14 9.9 13.848C9.18 14.544 8.142 14.976 6.786 15.144V17.16H4.986V15.198C4.098 15.15 3.252 14.994 2.448 14.73C1.644 14.466 0.996 14.142 0.504 13.758L1.494 11.562C1.95 11.898 2.484 12.18 3.096 12.408C3.708 12.636 4.338 12.78 4.986 12.84V9.834C4.134 9.63 3.414 9.402 2.826 9.15C2.238 8.898 1.746 8.532 1.35 8.052C0.954 7.56 0.756 6.912 0.756 6.108C0.756 5.112 1.116 4.26 1.836 3.552C2.568 2.832 3.618 2.394 4.986 2.238V0.239999H6.786V2.202C8.262 2.322 9.48 2.688 10.44 3.3L9.54 5.514C8.64 4.998 7.722 4.686 6.786 4.578V7.638C7.626 7.83 8.334 8.052 8.91 8.304C9.498 8.544 9.99 8.91 10.386 9.402C10.782 9.882 10.98 10.518 10.98 11.31ZM3.654 5.964C3.654 6.264 3.768 6.51 3.996 6.702C4.224 6.894 4.554 7.056 4.986 7.188V4.632C4.53 4.74 4.194 4.914 3.978 5.154C3.762 5.382 3.654 5.652 3.654 5.964ZM6.786 12.768C7.218 12.672 7.542 12.516 7.758 12.3C7.974 12.084 8.082 11.826 8.082 11.526C8.082 11.226 7.968 10.98 7.74 10.788C7.524 10.596 7.206 10.428 6.786 10.284V12.768Z" fill="black"/></svg>
          p 75,36 ₽
        .menuRateEuro
          <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.252 10.732C10.512 10.732 11.574 10.234 12.438 9.238L14.292 10.966C13.692 11.698 12.948 12.256 12.06 12.64C11.184 13.024 10.2 13.216 9.108 13.216C8.064 13.216 7.092 13.03 6.192 12.658C5.304 12.286 4.548 11.758 3.924 11.074C3.3 10.39 2.85 9.598 2.574 8.698H0.54V7.186H2.304C2.292 7.078 2.286 6.916 2.286 6.7C2.286 6.484 2.292 6.322 2.304 6.214H0.54V4.702H2.574C2.85 3.802 3.3 3.01 3.924 2.326C4.548 1.642 5.304 1.114 6.192 0.741999C7.092 0.37 8.064 0.184 9.108 0.184C10.2 0.184 11.184 0.376 12.06 0.76C12.948 1.144 13.692 1.696 14.292 2.416L12.438 4.144C11.562 3.16 10.5 2.668 9.252 2.668C8.46 2.668 7.752 2.848 7.128 3.208C6.504 3.568 6.024 4.066 5.688 4.702H10.242V6.214H5.238C5.226 6.322 5.22 6.484 5.22 6.7C5.22 6.916 5.226 7.078 5.238 7.186H10.242V8.698H5.688C6.024 9.334 6.504 9.832 7.128 10.192C7.752 10.552 8.46 10.732 9.252 10.732Z" fill="black"/></svg>
          p 85,92 ₽
        .menuRateGeoposition
          p Какой-то город
      .menuLogo
        a( href="#" )
          p ВЗГЛЯД
            span 24
      .menuDate
        p Четверг ,
          span  20.09.2021
      .menuBurger#BurgerActivate
        .menuBurgerUnit

    .menuList
      ul
        li
          a События
        <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="3.5" cy="3.5" r="3.5" fill="#E1400B"/></svg>
        li
          a Политика
        <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="3.5" cy="3.5" r="3.5" fill="#E1400B"/></svg>
        li
          a Шоу-бизнес
        <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="3.5" cy="3.5" r="3.5" fill="#E1400B"/></svg>
        li
          a Спорт
        <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="3.5" cy="3.5" r="3.5" fill="#E1400B"/></svg>
        li
          a Здоровье
        <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="3.5" cy="3.5" r="3.5" fill="#E1400B"/></svg>
        li
          a Кухня
.hiddenMenu#HiddenMenu
  .hiddenMenuList
    ul
      li
        a(href="#") События
      li
        a(href="#") Политика
      li
        a(href="#") Шоу-бизнес
      li
        a(href="#") Спорт
      li
        a(href="#") Здоровье
      li
        a(href="#") Кухня
    <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="17.8569" width="3.03042" height="25.2535" transform="rotate(45 17.8569 0)" fill="white"/><rect x="0.00146484" y="2.14258" width="3.03042" height="25.2535" transform="rotate(-45 0.00146484 2.14258)" fill="white"/></svg>
  .hiddenMenuFooter
    .menuFooterFirst
      .menuDate
        p Четверг ,
          span  20.09.2021
      .menuRate
        .menuRateDollar
          <svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.98 11.31C10.98 12.294 10.62 13.14 9.9 13.848C9.18 14.544 8.142 14.976 6.786 15.144V17.16H4.986V15.198C4.098 15.15 3.252 14.994 2.448 14.73C1.644 14.466 0.996 14.142 0.504 13.758L1.494 11.562C1.95 11.898 2.484 12.18 3.096 12.408C3.708 12.636 4.338 12.78 4.986 12.84V9.834C4.134 9.63 3.414 9.402 2.826 9.15C2.238 8.898 1.746 8.532 1.35 8.052C0.954 7.56 0.756 6.912 0.756 6.108C0.756 5.112 1.116 4.26 1.836 3.552C2.568 2.832 3.618 2.394 4.986 2.238V0.239999H6.786V2.202C8.262 2.322 9.48 2.688 10.44 3.3L9.54 5.514C8.64 4.998 7.722 4.686 6.786 4.578V7.638C7.626 7.83 8.334 8.052 8.91 8.304C9.498 8.544 9.99 8.91 10.386 9.402C10.782 9.882 10.98 10.518 10.98 11.31ZM3.654 5.964C3.654 6.264 3.768 6.51 3.996 6.702C4.224 6.894 4.554 7.056 4.986 7.188V4.632C4.53 4.74 4.194 4.914 3.978 5.154C3.762 5.382 3.654 5.652 3.654 5.964ZM6.786 12.768C7.218 12.672 7.542 12.516 7.758 12.3C7.974 12.084 8.082 11.826 8.082 11.526C8.082 11.226 7.968 10.98 7.74 10.788C7.524 10.596 7.206 10.428 6.786 10.284V12.768Z" fill="white"/></svg>
          p 75,36 ₽
        .menuRateEuro
          <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.252 10.732C10.512 10.732 11.574 10.234 12.438 9.238L14.292 10.966C13.692 11.698 12.948 12.256 12.06 12.64C11.184 13.024 10.2 13.216 9.108 13.216C8.064 13.216 7.092 13.03 6.192 12.658C5.304 12.286 4.548 11.758 3.924 11.074C3.3 10.39 2.85 9.598 2.574 8.698H0.54V7.186H2.304C2.292 7.078 2.286 6.916 2.286 6.7C2.286 6.484 2.292 6.322 2.304 6.214H0.54V4.702H2.574C2.85 3.802 3.3 3.01 3.924 2.326C4.548 1.642 5.304 1.114 6.192 0.741999C7.092 0.37 8.064 0.184 9.108 0.184C10.2 0.184 11.184 0.376 12.06 0.76C12.948 1.144 13.692 1.696 14.292 2.416L12.438 4.144C11.562 3.16 10.5 2.668 9.252 2.668C8.46 2.668 7.752 2.848 7.128 3.208C6.504 3.568 6.024 4.066 5.688 4.702H10.242V6.214H5.238C5.226 6.322 5.22 6.484 5.22 6.7C5.22 6.916 5.226 7.078 5.238 7.186H10.242V8.698H5.688C6.024 9.334 6.504 9.832 7.128 10.192C7.752 10.552 8.46 10.732 9.252 10.732Z" fill="white"/></svg>
          p 85,92 ₽
      .menuRateGeoposition
        p Какой-то город
    .hiddenMenuFooterCreator
      p Created by Interplar
      a(href= "mailto:creative.studio@interplar.com") creative.studio@interplar.com


