extends ../layouts/master

block title
  link(rel="stylesheet", href="assets/css/main.css")
  link(rel="stylesheet", href="assets/css/uikit.css")
  link(rel="stylesheet", href="assets/css/adminPanelStyle.css")


  .container
    .errorMessage
      h1 Ошибочка вышла!
      p Перезагрузите страницу или
        a( href="#") вернитесь назад



block scripts
  script(src="assets/scripts/main.min.js")