extends ../layouts/master

block title
  link(rel="stylesheet", href="assets/css/main.css")
  link(rel="stylesheet", href="assets/css/uikit.css")

block content
  include ../includes/modules/menu

  block content
    include ../includes/modules/mainInf

  section
    block content
      include ../includes/modules/footer

block scripts
  script(src="assets/scripts/main.min.js")
  script(src="assets/scripts/script.js")

